<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增意向跟进')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: summernote-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-CustomerIntetion-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">客户名称：</label>
                <div class="col-sm-8">
                    <input name="custName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">行业：</label>
                <div class="col-sm-8">
                    <select name="custIndustry" class="form-control" type="text">
                        <option value="请选择">请选择</option>
                        <option value="能源">能源</option>
                        <option value="化工">化工</option>
                        <option value="媒体通信">媒体通信</option>
                        <option value="金融">金融</option>
                        <option value="互联网">互联网</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">省份：</label>
                <div class="col-sm-8">
                    <select id="province" name="custProvince" class="form-control" type="text">
                        <option value="">请选择省份......</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">城市：</label>
                <div class="col-sm-8">
                    <select id="city" name="custCity" class="form-control" type="text">
                        <option value="">请选择城市......</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">地址：</label>
                <div class="col-sm-8">
                    <select id="area" name="custAddress" class="form-control" type="text">
                        <option value="">请选择地址......</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">规模：</label>
                <div class="col-sm-8">
                    <input name="custScale" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">性质：</label>
                <div class="col-sm-8">
                    <input name="custNature" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">简要介绍：</label>
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" name="custIntroduce">
                    <div class="summernote" id="custIntroduce"></div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <select name="custState" class="form-control m-b" th:with="type=${@dict.getType('sys_cust_precedence')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">创建人：</label>
                <div class="col-sm-8">
                    <select name="custCreateId" class="form-control" type="text">
                        <option value="-1">请选择</option>
                        <option value="1">赵晓二</option>
                        <option value="2">孙小三</option>
                        <option value="3">赵小四</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">创建时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="custCreateTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">进展状态：</label>
                <div class="col-sm-8">
                    <select name="custProgressState" class="form-control" type="text">
                        <option value="请选择">请选择</option>
                        <option value="跟进中">跟进中</option>
                        <option value="有意向">有意向</option>
                        <option value="无意向">无意向</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: summernote-js" />
    <script th:inline="javascript">
        var prefix = ctx + "crm/CustomerIntetion"
        $("#form-CustomerIntetion-add").validate({
            focusCleanup: true,
            rules: {
                custName: {
                  required: true,
                    // minLength: 2
                },
                custIndustry: {
                    required: true
                },
                custScale: {
                    required: true
                },
                custNature: {
                    required: true
                },
                custIntroduce: {
                    required: true
                },
                custState: {
                    required: true
                },
                custCreateId: {
                    required: true
                },
                custCreateTime: {
                    required: true
                },
                custProgressState: {
                    required: true
                }
            },
            messages: {
                custName: {
                    required: "请输入客户名称",
                },
                custIndustry: {
                    required: "请输入行业",
                },
                custScale: {
                    required: "请输入规模",
                },
                custNature: {
                    required: "请输入性质",
                },
                custState: {
                    required: "请选择状态",
                },
                custCreateId: {
                    required: "请输入创建人",
                },
                custCreateTime: {
                    required: "请选择创建时间",
                },
                custProgressState: {
                    required: "请输入进展状态"
                }
            }
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-CustomerIntetion-add').serialize());
            }
        }

        $("input[name='custCreateTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $(function() {
            $('.summernote').summernote({
                lang: 'zh-CN',
                dialogsInBody: true,
                callbacks: {
                    onChange: function(contents, $edittable) {
                        $("input[name='" + this.id + "']").val(contents);
                    },
                    onImageUpload: function(files) {
                        var obj = this;
                    	var data = new FormData();
                    	data.append("file", files[0]);
                    	$.ajax({
                            type: "post",
                            url: ctx + "common/upload",
                    		data: data,
                    		cache: false,
                    		contentType: false,
                    		processData: false,
                    		dataType: 'json',
                    		success: function(result) {
                    		    if (result.code == web_status.SUCCESS) {
                    		        $('#' + obj.id).summernote('insertImage', result.url);
                    		    } else {
                    		        $.modal.alertError(result.msg);
                    		    }
                    		},
                    		error: function(error) {
                    		    $.modal.alertWarning("图片上传失败。");
                    		}
                    	});
                    }
                }
            });
        });

        // 1.创建三维数组
        var provinces=[];
        provinces["甘肃省"]=["兰州市","天水市","庆阳市"];
        provinces["江苏省"]=["南京市","无锡市","苏州市"];
        provinces["浙江省"]=["杭州市","宁波市"];

        var citys=[];
        citys["兰州市"]=["安宁区","西固区","城关区","七里河区","新区"];
        citys["天水市"]=["麦积区","秦州区","甘谷县","武山县","秦安县","清水县","张家川回族自治县"];
        citys["庆阳市"]=["庆城县","华池县","宁县","镇原县","合水县","正宁县","环县"];
        citys["南京市"]=["玄武区","雨花台区","鼓楼区","秦淮区","六合区"];
        citys["无锡市"]=["滨湖区","惠山区","梁溪区"];
        citys["苏州市"]=["姑苏区","吴江区"];
        citys["杭州市"]=["西湖区","临安区","上城区"];
        citys["宁波市"]=["江北区","江东区"];

        // 2.获取元素
        var oprovince = document.getElementById('province');
        var ocity = document.getElementById('city');
        var oarea = document.getElementById('area');

        for (province in provinces) {
            oprovince.add(new Option(province, province))//省份下拉菜单
        }
        oprovince.onchange = function () {//省份下拉菜单内容改变时 执行的命令
            var selectvalue = oprovince.value;//获取省份下拉菜单的值
            ocity.innerHTML = '<option value="">请选择城市......</option>';
            oarea.innerHTML = ' <option value="">请选择市区......</option>';
            for (provincename in provinces) {//遍历省份的名称
                if (provincename == selectvalue) {
                    for (cityname in provinces[provincename]) {//遍历城市名称
                        ocity.add(new Option(provinces[provincename][cityname], provinces[provincename][cityname]));
                    }
                }
            }
        }
        ocity.onchange = function () {
            oarea.innerHTML = ' <option value="">请选择市区......</option>';
            var cityValue = ocity.value;
            for (i in citys) {//i是area数组的索引值（城市名称）
                if (i == cityValue) {
                    for (j in citys[i]) {
                        oarea.add(new Option(citys[i][j], citys[i][j]));
                    }
                }
            }
        }

        // 3.向省份菜单添加选项
        for(province in provinces){
            oPro.add(new Option(province,province))
        }

        // 4.根据省份选择城市
        oPro.onchange=function(){
            var sel_val=oPro.value;//获取选择的省份
            oCity.innerHTML = '<option value="">请选择城市......</option>';
            oArea.innerHTML = ' <option value="">请选择市区......</option>';
            for(province in provinces){
                if(province == sel_val){
                    for(cityname in provinces[province]){
                        oCity.add(new Option(provinces[province][cityname],provinces[province][cityname]))
                    }
                }
                oCity.add(new Option())
            }
        }
        oCity.onchange=function(){
            var sel_val2=oCity.value;//获取选择的省份

            for(city in citys){
                if(province == sel_val){
                    for(areaname in provinces[province]){
                        oArea.add(new Option(provinces[province][cityname],provinces[province][cityname]))
                    }
                }
                oCity.add(new Option())
            }
        }
    </script>
</body>
</html>