<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改编码管理')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-codelist-edit" th:object="${codeList}">
            <h4 class="form-header h4">编码管理信息</h4>
            <input name="codeId" th:field="*{codeId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">编码标识：</label>
                <div class="col-sm-8">
                    <input name="typeId" th:field="*{typeId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">编码值：</label>
                <div class="col-sm-8">
                    <input name="codeValue" th:field="*{codeValue}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">编码排序：</label>
                <div class="col-sm-8">
                    <input name="codeSort" th:field="*{codeSort}" class="form-control" type="text">
                </div>
            </div>
            <h4 class="form-header h4">编码类型信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-white btn-sm" onclick="addRow()"><i class="fa fa-plus"> 增加</i></button>
                    <button type="button" class="btn btn-white btn-sm" onclick="sub.delRow()"><i class="fa fa-minus"> 删除</i></button>
                    <div class="col-sm-12 select-table table-striped">
                        <table id="bootstrap-table"></table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/codelist";
        $("#form-codelist-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-codelist-edit').serialize());
            }
        }

        $(function() {
            var options = {
                data: [[${codeList.codeTypeList}]],
                pagination: false,
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                sidePagination: "client",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'index',
                    align: 'center',
                    title: "序号",
                    formatter: function (value, row, index) {
                    	var columnIndex = $.common.sprintf("<input type='hidden' name='index' value='%s'>", $.table.serialNumber(index));
                    	return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'typeIdent',
                    align: 'center',
                    title: '类型标识',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='codeTypeList[%s].typeIdent' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'typeName',
                    align: 'center',
                    title: '类型名称',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='codeTypeList[%s].typeName' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'typeGroup',
                    align: 'center',
                    title: '类型分组',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='codeTypeList[%s].typeGroup' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'isEditable',
                    align: 'center',
                    title: '是否可编辑',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='codeTypeList[%s].isEditable' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'isEffective',
                    align: 'center',
                    title: '是否失效',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='codeTypeList[%s].isEffective' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'isExtend',
                    align: 'center',
                    title: '是否SQL扩展',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='codeTypeList[%s].isExtend' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var value = $.common.isNotEmpty(row.index) ? row.index : $.table.serialNumber(index);
                        return '<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="sub.delRowByIndex(\'' + value + '\')"><i class="fa fa-remove"></i>删除</a>';
                    }
                }]
            };
            $.table.init(options);
        });

        function addRow() {
            var count = $("#" + table.options.id).bootstrapTable('getData').length;
            var row = {
                index: $.table.serialNumber(count),
                typeIdent: "",
                typeName: "",
                typeGroup: "",
                isEditable: "",
                isEffective: "",
                isExtend: "",
            }
            sub.addRow(row);
        }
    </script>
</body>
</html>