<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改陌生拜访')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: summernote-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-orgstrangevisit-edit" th:object="${crmTaskReviewStrange}">
            <input name="orgId" th:field="*{orgId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">组织名称：</label>
                <div class="col-sm-8">
                    <input name="orgName" th:field="*{orgName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">简要介绍：</label>
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" th:field="*{orgIntroduction}">
                    <div class="summernote" id="orgIntroduction"></div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">联系人：</label>
                <div class="col-sm-8">
                    <input name="orgLinkmanName" th:field="*{orgLinkmanName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">邮箱：</label>
                <div class="col-sm-8">
                    <input name="orgEmail" th:field="*{orgEmail}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">联系方式：</label>
                <div class="col-sm-8">
                    <input name="orgContactWay" th:field="*{orgContactWay}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <select name="orgState" class="form-control m-b" th:with="type=${@dict.getType('orgstate')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{orgState}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">标签：</label>
                <div class="col-sm-8">
                    <select name="orgLabels" class="form-control m-b" th:with="type=${@dict.getType('orglabel')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{orgLabels}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">地址：</label>
                <div class="col-sm-8">
                    <input name="orgAddress" th:field="*{orgAddress}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">公司网站：</label>
                <div class="col-sm-8">
                    <input name="orgWebsite" th:field="*{orgWebsite}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">创建人：</label>
                <div class="col-sm-8">
                    <input name="orgCreater" th:field="*{orgCreater}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">创建时间：</label>
                <div class="col-sm-8">
                    <div class="select-time">
                        <input id="startTime" name="orgCreateTime" th:value="${#dates.format(crmTaskReviewStrange.orgCreateTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text" required="required">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">更新时间：</label>
                <div class="col-sm-8">
                    <div class="select-time">
                        <input id="endTime" name="orgUpdateTime" th:value="${#dates.format(crmTaskReviewStrange.orgUpdateTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text" required="required">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">公司分类：</label>
                <div class="col-sm-8">
                    <input name="orgClassification" th:field="*{orgClassification}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">来源渠道：</label>
                <div class="col-sm-8">
                    <input name="orgSources" th:field="*{orgSources}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">跟进人员：</label>
                <div class="col-sm-8">
                    <input name="orgSalesman" th:field="*{orgSalesman}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">分类：</label>
                <div class="col-sm-8">
                    <select name="orgClassify" class="form-control m-b" th:with="type=${@dict.getType('orginfo')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{orgClassify}"></option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: summernote-js" />
    <script th:inline="javascript">
        var prefix = ctx + "crm/orgstrangevisit";
        $("#form-orgstrangevisit-edit").validate({
            focusCleanup: true,
            rules: {
                orgName: {
                    required: true,
                },
                orgIntroduction: {
                    required: true,
                },
                orgLinkmanName: {
                    required: true
                },
                orgEmail: {
                    required: true,
                    email: true
                },
                orgContactWay: {
                    required: true,
                    number: true
                },

            },
            messages: {
                orgName: {
                    required: "请输入组织名称"
                },
                orgLinkmanName: {
                    required: "请输入联系人"
                },
            }
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-orgstrangevisit-edit').serialize());
            }
        }

        // $("input[name='orgCreateTime']").datetimepicker({
        //     format: "yyyy-mm-dd",
        //     minView: "month",
        //     autoclose: true
        // }).change(function (){
        //     let createDate = $("input[name='orgCreateTime']").value;
        //     let updateDate = $("input[name='orgUpdateTime']").value;
        //     if(updateDate != null) {
        //         if(updateDate >= createDate) {
        //             $("input[name='orgCreateTime']").val(null);
        //             alert("更新时间应大于创建时间");
        //         }
        //     }
        //     }
        // );
        //
        // $("input[name='orgUpdateTime']").datetimepicker({
        //     format: "yyyy-mm-dd",
        //     minView: "month",
        //     autoclose: true
        // }).change(function (){
        //         let createDate = $("input[name='orgCreateTime']").value;
        //         let updateDate = $("input[name='orgUpdateTime']").value;
        //         if(updateDate >= createDate) {
        //             $("input[name='orgCreateTime']").val(null);
        //             alert("更新时间应大于创建时间");
        //         }
        //     }
        // );

        // $("input[name='orgVisitAgainTime']").datetimepicker({
        //     format: "yyyy-mm-dd",
        //     minView: "month",
        //     autoclose: true
        // });

        $(function() {
            $('.summernote').each(function(i) {
                $('#' + this.id).summernote({
                    lang: 'zh-CN',
                    dialogsInBody: true,
                    callbacks: {
                        onChange: function(contents, $edittable) {
                            $("input[name='" + this.id + "']").val(contents);
                        },
                        onImageUpload: function(files) {
                            var obj = this;
                            var data = new FormData();
                            data.append("file", files[0]);
                            $.ajax({
                                type: "post",
                                url: ctx + "common/upload",
                                data: data,
                                cache: false,
                                contentType: false,
                                processData: false,
                                dataType: 'json',
                                success: function(result) {
                                    if (result.code == web_status.SUCCESS) {
                                        $('#' + obj.id).summernote('insertImage', result.url);
                                    } else {
                                        $.modal.alertError(result.msg);
                                    }
                                },
                                error: function(error) {
                                    $.modal.alertWarning("图片上传失败。");
                                }
                            });
                        }
                    }
                });
                var content = $("input[name='" + this.id + "']").val();
                $('#' + this.id).summernote('code', content);
            })
        });
    </script>
</body>
</html>