<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('陌生拜访列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>状态：</label>
                                <select name="orgState" th:with="type=${@dict.getType('orgstate')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>标签：</label>
                                <select name="orgLabels" th:with="type=${@dict.getType('orglabel')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>更新时间：</label>
                                <input type="text" class="time-input" placeholder="请选择更新时间" name="orgUpdateTime"/>
                            </li>
                            <li>
                                <label>跟进人员：</label>
                                <input type="text" name="orgSalesman"/>
                            </li>
                            <li>
                                <label>分类：</label>
                                <select name="orgClassify" th:with="type=${@dict.getType('orginfo')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="crm:orgstrangevisit:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="crm:orgstrangevisit:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="crm:orgstrangevisit:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="crm:orgstrangevisit:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('crm:orgstrangevisit:edit')}]];
        var removeFlag = [[${@permission.hasPermi('crm:orgstrangevisit:remove')}]];
        var orgStateDatas = [[${@dict.getType('orgstate')}]];
        var orgLabelsDatas = [[${@dict.getType('orglabel')}]];
        var orgClassifyDatas = [[${@dict.getType('orginfo')}]];
        var prefix = ctx + "crm/orgstrangevisit";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "陌生拜访",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'orgId',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'orgIntroduction',
                    title: '简要介绍'
                },
                {
                    field: 'orgState',
                    title: '状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(orgStateDatas, value);
                    }
                },
                {
                    field: 'orgLabels',
                    title: '标签',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(orgLabelsDatas, value);
                    }
                },
                {
                    field: 'orgCreater',
                    title: '创建人'
                },
                {
                    field: 'orgCreateTime',
                    title: '创建时间'
                },
                {
                    field: 'orgUpdateTime',
                    title: '更新时间'
                },
                {
                    field: 'orgSalesman',
                    title: '跟进人员'
                },
                {
                    field: 'orgClassify',
                    title: '分类',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(orgClassifyDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.orgId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.orgId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>