<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改潜在客户')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-orgcust-edit" th:object="${orgCustomerInfo}">
        <input name="orgId" th:field="*{orgId}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">组织名称：</label>
            <div class="col-sm-8">
                <input name="orgName" th:field="*{orgName}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">简要介绍：</label>
            <div class="col-sm-8">
                <textarea name="orgIntroduction" class="form-control">[[*{orgIntroduction}]]</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">联系人：</label>
            <div class="col-sm-8">
                <input name="orgLinkmanName" th:field="*{orgLinkmanName}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">邮箱：</label>
            <div class="col-sm-8">
                <input name="orgEmail" th:field="*{orgEmail}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">联系方式：</label>
            <div class="col-sm-8">
                <input name="orgContactWay" th:field="*{orgContactWay}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">状态：</label>
            <div class="col-sm-8">
                <select name="orgState" class="form-control m-b" th:with="type=${@dict.getType('orgstate')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{orgState}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">标签：</label>
            <div class="col-sm-8">
                <select name="orgLabels" class="form-control m-b" th:with="type=${@dict.getType('orglabel')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{orgLabels}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">省份：</label>
            <div class="col-sm-8">
                <select id="province" name="custProvince" class="form-control" type="text">
                    <option value="">请选择省份......</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">城市：</label>
            <div class="col-sm-8">
                <select id="city" name="custCity" class="form-control" type="text">
                    <option value="">请选择城市......</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">地址：</label>
            <div class="col-sm-8">
                <select id="area" name="custAddress" class="form-control" type="text">
                    <option value="">请选择地址......</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">公司网站：</label>
            <div class="col-sm-8">
                <input name="orgWebsite" th:field="*{orgWebsite}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">创建人：</label>
            <div class="col-sm-8">
                <input name="orgCreater" th:field="*{orgCreater}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">创建时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input name="orgCreateTime" th:value="${#dates.format(orgCustomerInfo.orgCreateTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">更新时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input name="orgUpdateTime" th:value="${#dates.format(orgCustomerInfo.orgUpdateTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">公司分类：</label>
            <div class="col-sm-8">
                <input name="orgClassification" th:field="*{orgClassification}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">计划拜访时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input name="orgVisitAgainTime" th:value="${#dates.format(orgCustomerInfo.orgVisitAgainTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">客户管理：</label>
            <div class="col-sm-8">
                <input name="custId" th:field="*{custId}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">来源渠道：</label>
            <div class="col-sm-8">
                <input name="orgSources" th:field="*{orgSources}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">跟进人员：</label>
            <div class="col-sm-8">
                <input name="orgSalesman" th:field="*{orgSalesman}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">分类：</label>
            <div class="col-sm-8">
                <select name="orgClassify" class="form-control m-b" th:with="type=${@dict.getType('orginfo')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{orgClassify}"></option>
                </select>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<script th:inline="javascript">
    var prefix = ctx + "crm/orgcust";

    $("#form-orgcust-add").validate({
        focusCleanup: true,
        rules:{
            orgEmail:{
                required:true,
                email:true
            },
            orgContactWay:{
                required:true,
                minlength:11,
                maxlength:11
            },

        }
    });
    $("#form-orgcust-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-orgcust-edit').serialize());
        }
    }

    $("input[name='orgCreateTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    }).change(function (){
        let startDate = $("input[name='orgCreateTime']").val();
        let endDate = $("input[name='orgUpdateTime']").val(null);
        if(endDate != null){
            if(startDate >= endDate){
                $("input[name='tcBegin']").val(null);
                alert("更新时间应大于创建时间");}
        }
    });
    $("input[name='orgUpdateTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    }).change(function (){
        let startDate = $("input[name='orgCreateTime']").val();
        let endDate = $("input[name='orgUpdateTime']").val();
        if(startDate >= endDate){
            $("input[name='orgUpdateTime']").val(null);
            alert("更新时间应大于创建时间");}
    });
    $("input[name='orgVisitAgainTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    }).change(function (){
        let startDate = $("input[name='orgVisitAgainTime']").val();
        let endDate = $("input[name='orgUpdateTime']").val();
        if(startDate >= endDate){
            $("input[name='orgUpdateTime']").val(null);
            alert("计划拜访时间无效");}
    });

    $("input[name='orgCreateTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='orgUpdateTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='orgVisitAgainTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });



    // 1.创建三维数组
    var provinces=[];
    provinces["甘肃省"]=["兰州市","天水市","庆阳市"];
    provinces["江苏省"]=["南京市","无锡市","苏州市"];
    provinces["浙江省"]=["杭州市","宁波市"];
    provinces["安徽省"]=["合肥市","马鞍山市"];

    var citys=[];
    citys["兰州市"]=["安宁区","西固区","城关区","七里河区","新区"];
    citys["天水市"]=["麦积区","秦州区","甘谷县","武山县","秦安县","清水县","张家川回族自治县"];
    citys["庆阳市"]=["庆城县","华池县","宁县","镇原县","合水县","正宁县","环县"];
    citys["南京市"]=["玄武区","雨花台区","鼓楼区","秦淮区","六合区"];
    citys["无锡市"]=["滨湖区","惠山区","梁溪区"];
    citys["苏州市"]=["姑苏区","吴江区"];
    citys["杭州市"]=["西湖区","临安区","上城区"];
    citys["宁波市"]=["江北区","江东区"];
    citys["合肥市"]=["蜀山区","瑶海区"];
    citys["马鞍山市"]=["花山区","雨山区"];

    // 2.获取元素
    var oprovince = document.getElementById('province');
    var ocity = document.getElementById('city');
    var oarea = document.getElementById('area');

    for (province in provinces) {
        oprovince.add(new Option(province, province))//省份下拉菜单
    }
    oprovince.onchange = function () {//省份下拉菜单内容改变时 执行的命令
        var selectvalue = oprovince.value;//获取省份下拉菜单的值
        ocity.innerHTML = '<option value="">请选择城市......</option>';
        oarea.innerHTML = ' <option value="">请选择市区......</option>';
        for (provincename in provinces) {//遍历省份的名称
            if (provincename == selectvalue) {
                for (cityname in provinces[provincename]) {//遍历城市名称
                    ocity.add(new Option(provinces[provincename][cityname], provinces[provincename][cityname]));
                }
            }
        }
    }
    ocity.onchange = function () {
        oarea.innerHTML = ' <option value="">请选择市区......</option>';
        var cityValue = ocity.value;
        for (i in citys) {//i是area数组的索引值（城市名称）
            if (i == cityValue) {
                for (j in citys[i]) {
                    oarea.add(new Option(citys[i][j], citys[i][j]));
                }
            }
        }
    }

    // 3.向省份菜单添加选项
    for(province in provinces){
        oPro.add(new Option(province,province))
    }

    // 4.根据省份选择城市
    oPro.onchange=function(){
        var sel_val=oPro.value;//获取选择的省份
        oCity.innerHTML = '<option value="">请选择城市......</option>';
        oArea.innerHTML = ' <option value="">请选择市区......</option>';
        for(province in provinces){
            if(province == sel_val){
                for(cityname in provinces[province]){
                    oCity.add(new Option(provinces[province][cityname],provinces[province][cityname]))
                }
            }
            oCity.add(new Option())
        }
    }
    oCity.onchange=function(){
        var sel_val2=oCity.value;//获取选择的省份

        for(city in citys){
            if(province == sel_val){
                for(areaname in provinces[province]){
                    oArea.add(new Option(provinces[province][cityname],provinces[province][cityname]))
                }
            }
            oCity.add(new Option())
        }
    }
</script>
</body>
</html>