<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('陌生拜访列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>潜在客户：</label>
                                <input type="text" name="orgId"/>
                            </li>
                            <li>
                                <label>任务计划：</label>
                                <input type="text" name="taskReviewId"/>
                            </li>
                            <li>
                                <label>跟进状态：</label>
                                <select name="taskFollowState" th:with="type=${@dict.getType('crm_taskfollow')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>创建任务时间：</label>
                                <input type="text" class="time-input" placeholder="请选择创建任务时间" name="taskCreateTime"/>
                            </li>
                            <li>
                                <label>客户状态：</label>
                                <input type="text" name="taskCustState"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="crm:taskvisit:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="crm:taskvisit:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="crm:taskvisit:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="crm:taskvisit:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('crm:taskvisit:edit')}]];
        var removeFlag = [[${@permission.hasPermi('crm:taskvisit:remove')}]];
        var taskFollowStateDatas = [[${@dict.getType('crm_taskfollow')}]];
        var prefix = ctx + "crm/taskvisit";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "陌生拜访",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'taskId',
                    title: '',
                    visible: false
                },
                {
                    field: 'orgId',
                    title: '潜在客户'
                },
                {
                    field: 'taskReviewId',
                    title: '任务计划'
                },
                {
                    field: 'taskFollowState',
                    title: '跟进状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(taskFollowStateDatas, value);
                    }
                },
                {
                    field: 'taskCreateTime',
                    title: '创建任务时间'
                },
                {
                    field: 'taskCustState',
                    title: '客户状态'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.taskId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.taskId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>