<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改意向跟进')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-taskcustomer-edit" th:object="${taskCustomer}">
            <h4 class="form-header h4">意向跟进信息</h4>
            <input name="taskId" th:field="*{taskId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">客户管理(CUSTOMER_INFO) 关联：</label>
                <div class="col-sm-8">
                    <input name="custId" th:field="*{custId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">跟进状态：</label>
                <div class="col-sm-8">
                    <select name="taskFollowState" class="form-control m-b" th:with="type=${@dict.getType('crm_taskfollow')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{taskFollowState}"></option>
                    </select>
                </div>
            </div>
            <h4 class="form-header h4">意向跟进信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-white btn-sm" onclick="addRow()"><i class="fa fa-plus"> 增加</i></button>
                    <button type="button" class="btn btn-white btn-sm" onclick="sub.delRow()"><i class="fa fa-minus"> 删除</i></button>
                    <div class="col-sm-12 select-table table-striped">
                        <table id="bootstrap-table"></table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "crm/taskcustomer";
        var custStateDatas = [[${@dict.getType('sys_cust_precedence')}]];
        var custLevelDatas = [[${@dict.getType('sys_cust_level')}]];
        $("#form-taskcustomer-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-taskcustomer-edit').serialize());
            }
        }

        $(function() {
            var options = {
                data: [[${taskCustomer.myCustomerList}]],
                pagination: false,
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                sidePagination: "client",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'index',
                    align: 'center',
                    title: "序号",
                    formatter: function (value, row, index) {
                    	var columnIndex = $.common.sprintf("<input type='hidden' name='index' value='%s'>", $.table.serialNumber(index));
                    	return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'custName',
                    align: 'center',
                    title: '客户名称',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='myCustomerList[%s].custName' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'custIndustry',
                    align: 'center',
                    title: '行业',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='myCustomerList[%s].custIndustry' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'custProvince',
                    align: 'center',
                    title: '省份',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='myCustomerList[%s].custProvince' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'custCity',
                    align: 'center',
                    title: '城市',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='myCustomerList[%s].custCity' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'custAddress',
                    align: 'center',
                    title: '地址',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='myCustomerList[%s].custAddress' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'custScale',
                    align: 'center',
                    title: '规模',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='myCustomerList[%s].custScale' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'custNature',
                    align: 'center',
                    title: '性质',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='myCustomerList[%s].custNature' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'custIntroduce',
                    align: 'center',
                    title: '简要介绍',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='myCustomerList[%s].custIntroduce' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'custState',
                    align: 'center',
                    title: '状态',
                    formatter: function(value, row, index) {
                        var name = $.common.sprintf("myCustomerList[%s].custState", index);
                        return $.common.dictToSelect(custStateDatas, value, name);
                    }
                },
                {
                    field: 'custCreateId',
                    align: 'center',
                    title: '创建人',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='myCustomerList[%s].custCreateId' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'custCreateTime',
                    align: 'center',
                    title: '创建时间',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='myCustomerList[%s].custCreateTime' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'custSubmitId',
                    align: 'center',
                    title: '提交人',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='myCustomerList[%s].custSubmitId' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'custSubmitTime',
                    align: 'center',
                    title: '提交时间',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='myCustomerList[%s].custSubmitTime' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'custConfirmId',
                    align: 'center',
                    title: '确认人',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='myCustomerList[%s].custConfirmId' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'custConfirmTime',
                    align: 'center',
                    title: '确认时间',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='myCustomerList[%s].custConfirmTime' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'custProgressState',
                    align: 'center',
                    title: '进展状态',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='myCustomerList[%s].custProgressState' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'custLevel',
                    align: 'center',
                    title: '级别',
                    formatter: function(value, row, index) {
                        var name = $.common.sprintf("myCustomerList[%s].custLevel", index);
                        return $.common.dictToSelect(custLevelDatas, value, name);
                    }
                },
                {
                    field: 'custCompanyWeb',
                    align: 'center',
                    title: '公司网站',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='myCustomerList[%s].custCompanyWeb' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'orgId',
                    align: 'center',
                    title: '潜在客户',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='myCustomerList[%s].orgId' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'custVisitAgainTime',
                    align: 'center',
                    title: '计划拜访时间',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='myCustomerList[%s].custVisitAgainTime' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var value = $.common.isNotEmpty(row.index) ? row.index : $.table.serialNumber(index);
                        return '<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="sub.delRowByIndex(\'' + value + '\')"><i class="fa fa-remove"></i>删除</a>';
                    }
                }]
            };
            $.table.init(options);
        });

        function addRow() {
            var count = $("#" + table.options.id).bootstrapTable('getData').length;
            var row = {
                index: $.table.serialNumber(count),
                custName: "",
                custIndustry: "",
                custProvince: "",
                custCity: "",
                custAddress: "",
                custScale: "",
                custNature: "",
                custIntroduce: "",
                custState: "",
                custCreateId: "",
                custCreateTime: "",
                custSubmitId: "",
                custSubmitTime: "",
                custConfirmId: "",
                custConfirmTime: "",
                custProgressState: "",
                custLevel: "",
                custCompanyWeb: "",
                orgId: "",
                custVisitAgainTime: "",
            }
            sub.addRow(row);
        }
    </script>
</body>
</html>