<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CodeListMapper">
    
    <resultMap type="CodeList" id="CodeListResult">
        <result property="codeId"    column="CODE_ID"    />
        <result property="typeId"    column="TYPE_ID"    />
        <result property="codeValue"    column="CODE_VALUE"    />
        <result property="codeSort"    column="CODE_SORT"    />
    </resultMap>

    <resultMap id="CodeListCodeTypeResult" type="CodeList" extends="CodeListResult">
        <collection property="codeTypeList" notNullColumn="sub_TYPE_ID" javaType="java.util.List" resultMap="CodeTypeResult" />
    </resultMap>

    <resultMap type="CodeType" id="CodeTypeResult">
        <result property="typeId"    column="sub_TYPE_ID"    />
        <result property="typeIdent"    column="sub_TYPE_IDENT"    />
        <result property="typeName"    column="sub_TYPE_NAME"    />
        <result property="typeGroup"    column="sub_TYPE_GROUP"    />
        <result property="isEditable"    column="sub_IS_EDITABLE"    />
        <result property="isEffective"    column="sub_IS_EFFECTIVE"    />
        <result property="isExtend"    column="sub_IS_EXTEND"    />
    </resultMap>

    <sql id="selectCodeListVo">
        select CODE_ID, TYPE_ID, CODE_VALUE, CODE_SORT from crm_sys_codelist
    </sql>

    <select id="selectCodeListList" parameterType="CodeList" resultMap="CodeListResult">
        <include refid="selectCodeListVo"/>
        <where>  
            <if test="typeId != null "> and TYPE_ID = #{typeId}</if>
            <if test="codeValue != null  and codeValue != ''"> and CODE_VALUE like concat('%', #{codeValue}, '%')</if>
            <if test="codeSort != null "> and CODE_SORT = #{codeSort}</if>
        </where>
    </select>
    
    <select id="selectCodeListByCodeId" parameterType="Long" resultMap="CodeListCodeTypeResult">
        select a.CODE_ID, a.TYPE_ID, a.CODE_VALUE, a.CODE_SORT,
 b.TYPE_ID as sub_TYPE_ID, b.TYPE_IDENT as sub_TYPE_IDENT, b.TYPE_NAME as sub_TYPE_NAME, b.TYPE_GROUP as sub_TYPE_GROUP, b.IS_EDITABLE as sub_IS_EDITABLE, b.IS_EFFECTIVE as sub_IS_EFFECTIVE, b.IS_EXTEND as sub_IS_EXTEND
        from crm_sys_codelist a
        left join crm_sys_codetype b on b.TYPE_ID = a.CODE_ID
        where a.CODE_ID = #{codeId}
    </select>
        
    <insert id="insertCodeList" parameterType="CodeList">
        insert into crm_sys_codelist
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="codeId != null">CODE_ID,</if>
            <if test="typeId != null">TYPE_ID,</if>
            <if test="codeValue != null">CODE_VALUE,</if>
            <if test="codeSort != null">CODE_SORT,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="codeId != null">#{codeId},</if>
            <if test="typeId != null">#{typeId},</if>
            <if test="codeValue != null">#{codeValue},</if>
            <if test="codeSort != null">#{codeSort},</if>
         </trim>
    </insert>

    <update id="updateCodeList" parameterType="CodeList">
        update crm_sys_codelist
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeId != null">TYPE_ID = #{typeId},</if>
            <if test="codeValue != null">CODE_VALUE = #{codeValue},</if>
            <if test="codeSort != null">CODE_SORT = #{codeSort},</if>
        </trim>
        where CODE_ID = #{codeId}
    </update>

    <delete id="deleteCodeListByCodeId" parameterType="Long">
        delete from crm_sys_codelist where CODE_ID = #{codeId}
    </delete>

    <delete id="deleteCodeListByCodeIds" parameterType="String">
        delete from crm_sys_codelist where CODE_ID in 
        <foreach item="codeId" collection="array" open="(" separator="," close=")">
            #{codeId}
        </foreach>
    </delete>
    
    <delete id="deleteCodeTypeByTypeIds" parameterType="String">
        delete from crm_sys_codetype where TYPE_ID in 
        <foreach item="typeId" collection="array" open="(" separator="," close=")">
            #{typeId}
        </foreach>
    </delete>

    <delete id="deleteCodeTypeByTypeId" parameterType="Long">
        delete from crm_sys_codetype where TYPE_ID = #{typeId}
    </delete>

    <insert id="batchCodeType">
        insert into crm_sys_codetype( TYPE_ID, TYPE_IDENT, TYPE_NAME, TYPE_GROUP, IS_EDITABLE, IS_EFFECTIVE, IS_EXTEND) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.typeId}, #{item.typeIdent}, #{item.typeName}, #{item.typeGroup}, #{item.isEditable}, #{item.isEffective}, #{item.isExtend})
        </foreach>
    </insert>

</mapper>