<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CodeTypeMapper">
    
    <resultMap type="CodeType" id="CodeTypeResult">
        <result property="typeId"    column="TYPE_ID"    />
        <result property="typeIdent"    column="TYPE_IDENT"    />
        <result property="typeName"    column="TYPE_NAME"    />
        <result property="typeGroup"    column="TYPE_GROUP"    />
        <result property="isEditable"    column="IS_EDITABLE"    />
        <result property="isEffective"    column="IS_EFFECTIVE"    />
        <result property="isExtend"    column="IS_EXTEND"    />
    </resultMap>

    <sql id="selectCodeTypeVo">
        select TYPE_ID, TYPE_IDENT, TYPE_NAME, TYPE_GROUP, IS_EDITABLE, IS_EFFECTIVE, IS_EXTEND from crm_sys_codetype
    </sql>

    <select id="selectCodeTypeList" parameterType="CodeType" resultMap="CodeTypeResult">
        <include refid="selectCodeTypeVo"/>
        <where>  
            <if test="typeIdent != null  and typeIdent != ''"> and TYPE_IDENT = #{typeIdent}</if>
            <if test="typeName != null  and typeName != ''"> and TYPE_NAME like concat('%', #{typeName}, '%')</if>
            <if test="typeGroup != null  and typeGroup != ''"> and TYPE_GROUP = #{typeGroup}</if>
            <if test="isEditable != null "> and IS_EDITABLE = #{isEditable}</if>
            <if test="isEffective != null "> and IS_EFFECTIVE = #{isEffective}</if>
            <if test="isExtend != null "> and IS_EXTEND = #{isExtend}</if>
        </where>
    </select>
    
    <select id="selectCodeTypeByTypeId" parameterType="Long" resultMap="CodeTypeResult">
        <include refid="selectCodeTypeVo"/>
        where TYPE_ID = #{typeId}
    </select>
        
    <insert id="insertCodeType" parameterType="CodeType">
        insert into crm_sys_codetype
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeId != null">TYPE_ID,</if>
            <if test="typeIdent != null">TYPE_IDENT,</if>
            <if test="typeName != null">TYPE_NAME,</if>
            <if test="typeGroup != null">TYPE_GROUP,</if>
            <if test="isEditable != null">IS_EDITABLE,</if>
            <if test="isEffective != null">IS_EFFECTIVE,</if>
            <if test="isExtend != null">IS_EXTEND,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeId != null">#{typeId},</if>
            <if test="typeIdent != null">#{typeIdent},</if>
            <if test="typeName != null">#{typeName},</if>
            <if test="typeGroup != null">#{typeGroup},</if>
            <if test="isEditable != null">#{isEditable},</if>
            <if test="isEffective != null">#{isEffective},</if>
            <if test="isExtend != null">#{isExtend},</if>
         </trim>
    </insert>

    <update id="updateCodeType" parameterType="CodeType">
        update crm_sys_codetype
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeIdent != null">TYPE_IDENT = #{typeIdent},</if>
            <if test="typeName != null">TYPE_NAME = #{typeName},</if>
            <if test="typeGroup != null">TYPE_GROUP = #{typeGroup},</if>
            <if test="isEditable != null">IS_EDITABLE = #{isEditable},</if>
            <if test="isEffective != null">IS_EFFECTIVE = #{isEffective},</if>
            <if test="isExtend != null">IS_EXTEND = #{isExtend},</if>
        </trim>
        where TYPE_ID = #{typeId}
    </update>

    <delete id="deleteCodeTypeByTypeId" parameterType="Long">
        delete from crm_sys_codetype where TYPE_ID = #{typeId}
    </delete>

    <delete id="deleteCodeTypeByTypeIds" parameterType="String">
        delete from crm_sys_codetype where TYPE_ID in 
        <foreach item="typeId" collection="array" open="(" separator="," close=")">
            #{typeId}
        </foreach>
    </delete>

</mapper>