<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改任务周期')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-taskcycle-edit" th:object="${taskCycle}">
            <input name="tcId" th:field="*{tcId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">起始日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="tcBegin" th:value="${#dates.format(taskCycle.tcBegin, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">结束日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="tcEnd" th:value="${#dates.format(taskCycle.tcEnd, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "crm/taskcycle";
        $("#form-taskcycle-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-taskcycle-edit').serialize());
            }
        }

        $("input[name='tcBegin']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        }).change(function (){
            let startDate = $("input[name='tcBegin']").val();
            let endDate = $("input[name='tcEnd']").val();
            if(startDate >= endDate){
                $("input[name='tcBegin']").val(null);
                alert("结束时间应大于开始时间");}
        });

        $("input[name='tcEnd']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        }).change(function (){
            let startDate = $("input[name='tcBegin']").val();
            let endDate = $("input[name='tcEnd']").val();
            if(startDate >= endDate){
                $("input[name='tcEnd']").val(null);
                alert("结束时间应大于开始时间");}
        });
    </script>
</body>
</html>