<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.crm.mapper.CrmMyCustomerMapper">
    
    <resultMap type="CrmMyCustomer" id="CrmMyCustomerResult">
        <result property="custId"    column="CUST_ID"    />
        <result property="custName"    column="CUST_NAME"    />
        <result property="custIndustry"    column="CUST_INDUSTRY"    />
        <result property="custProvince"    column="CUST_PROVINCE"    />
        <result property="custCity"    column="CUST_CITY"    />
        <result property="custAddress"    column="CUST_ADDRESS"    />
        <result property="custScale"    column="CUST_SCALE"    />
        <result property="custNature"    column="CUST_NATURE"    />
        <result property="custIntroduce"    column="CUST_INTRODUCE"    />
        <result property="custState"    column="CUST_STATE"    />
        <result property="custCreateId"    column="CUST_CREATE_ID"    />
        <result property="custCreateTime"    column="CUST_CREATE_TIME"    />
        <result property="custSubmitId"    column="CUST_SUBMIT_ID"    />
        <result property="custSubmitTime"    column="CUST_SUBMIT_TIME"    />
        <result property="custConfirmId"    column="CUST_CONFIRM_ID"    />
        <result property="custConfirmTime"    column="CUST_CONFIRM_TIME"    />
        <result property="custProgressState"    column="CUST_PROGRESS_STATE"    />
        <result property="custLevel"    column="CUST_LEVEL"    />
        <result property="custCompanyWeb"    column="CUST_COMPANY_WEB"    />
        <result property="orgId"    column="ORG_ID"    />
        <result property="custVisitAgainTime"    column="CUST_VISIT_AGAIN_TIME"    />
    </resultMap>

    <resultMap id="CrmMyCustomerCrmVisitResult" type="CrmMyCustomer" extends="CrmMyCustomerResult">
        <collection property="crmVisitList" notNullColumn="sub_VISIT_ID" javaType="java.util.List" resultMap="CrmVisitResult" />
    </resultMap>

    <resultMap type="CrmVisit" id="CrmVisitResult">
        <result property="visitId"    column="sub_VISIT_ID"    />
        <result property="visitType"    column="sub_VISIT_TYPE"    />
        <result property="visitCustId"    column="sub_VISIT_CUST_ID"    />
        <result property="visitReceptionName"    column="sub_VISIT_RECEPTION_NAME"    />
        <result property="visitReceptionSex"    column="sub_VISIT_RECEPTION_SEX"    />
        <result property="visitReceptionJob"    column="sub_VISIT_RECEPTION_JOB"    />
        <result property="visitReceptionPhone"    column="sub_VISIT_RECEPTION_PHONE"    />
        <result property="visitUserId"    column="sub_VISIT_USER_ID"    />
        <result property="visitPeerName"    column="sub_VISIT_PEER_NAME"    />
        <result property="visitDate"    column="sub_VISIT_DATE"    />
        <result property="visitContent"    column="sub_VISIT_CONTENT"    />
        <result property="visitCustFocus"    column="sub_VISIT_CUST_FOCUS"    />
        <result property="visitEffect"    column="sub_VISIT_EFFECT"    />
        <result property="visitImprovement"    column="sub_VISIT_IMPROVEMENT"    />
        <result property="visitCost"    column="sub_VISIT_COST"    />
        <result property="visitCostExplain"    column="sub_VISIT_COST_EXPLAIN"    />
        <result property="visitState"    column="sub_VISIT_STATE"    />
        <result property="visitFillId"    column="sub_VISIT_FILL_ID"    />
        <result property="visitFillTime"    column="sub_VISIT_FILL_TIME"    />
        <result property="visitConfirmId"    column="sub_VISIT_CONFIRM_ID"    />
        <result property="visitConfirmTime"    column="sub_VISIT_CONFIRM_TIME"    />
    </resultMap>

    <sql id="selectCrmMyCustomerVo">
        select CUST_ID, CUST_NAME, CUST_INDUSTRY, CUST_PROVINCE, CUST_CITY, CUST_ADDRESS, CUST_SCALE, CUST_NATURE, CUST_INTRODUCE, CUST_STATE, CUST_CREATE_ID, CUST_CREATE_TIME, CUST_SUBMIT_ID, CUST_SUBMIT_TIME, CUST_CONFIRM_ID, CUST_CONFIRM_TIME, CUST_PROGRESS_STATE, CUST_LEVEL, CUST_COMPANY_WEB, ORG_ID, CUST_VISIT_AGAIN_TIME from CRM_CUSTOMER_INFO
    </sql>

    <select id="selectCrmMyCustomerList" parameterType="CrmMyCustomer" resultMap="CrmMyCustomerResult">
        <include refid="selectCrmMyCustomerVo"/>
        <where>  
            <if test="custName != null  and custName != ''"> and CUST_NAME like concat('%', #{custName}, '%')</if>
            <if test="custState != null  and custState != ''"> and CUST_STATE = #{custState}</if>
            <if test="custLevel != null  and custLevel != ''"> and CUST_LEVEL = #{custLevel}</if>
        </where>
    </select>
    
    <select id="selectCrmMyCustomerByCustId" parameterType="Long" resultMap="CrmMyCustomerCrmVisitResult">
        select a.CUST_ID, a.CUST_NAME, a.CUST_INDUSTRY, a.CUST_PROVINCE, a.CUST_CITY, a.CUST_ADDRESS, a.CUST_SCALE, a.CUST_NATURE, a.CUST_INTRODUCE, a.CUST_STATE, a.CUST_CREATE_ID, a.CUST_CREATE_TIME, a.CUST_SUBMIT_ID, a.CUST_SUBMIT_TIME, a.CUST_CONFIRM_ID, a.CUST_CONFIRM_TIME, a.CUST_PROGRESS_STATE, a.CUST_LEVEL, a.CUST_COMPANY_WEB, a.ORG_ID, a.CUST_VISIT_AGAIN_TIME,
 b.VISIT_ID as sub_VISIT_ID, b.VISIT_TYPE as sub_VISIT_TYPE, b.VISIT_CUST_ID as sub_VISIT_CUST_ID, b.VISIT_RECEPTION_NAME as sub_VISIT_RECEPTION_NAME, b.VISIT_RECEPTION_SEX as sub_VISIT_RECEPTION_SEX, b.VISIT_RECEPTION_JOB as sub_VISIT_RECEPTION_JOB, b.VISIT_RECEPTION_PHONE as sub_VISIT_RECEPTION_PHONE, b.VISIT_USER_ID as sub_VISIT_USER_ID, b.VISIT_PEER_NAME as sub_VISIT_PEER_NAME, b.VISIT_DATE as sub_VISIT_DATE, b.VISIT_CONTENT as sub_VISIT_CONTENT, b.VISIT_CUST_FOCUS as sub_VISIT_CUST_FOCUS, b.VISIT_EFFECT as sub_VISIT_EFFECT, b.VISIT_IMPROVEMENT as sub_VISIT_IMPROVEMENT, b.VISIT_COST as sub_VISIT_COST, b.VISIT_COST_EXPLAIN as sub_VISIT_COST_EXPLAIN, b.VISIT_STATE as sub_VISIT_STATE, b.VISIT_FILL_ID as sub_VISIT_FILL_ID, b.VISIT_FILL_TIME as sub_VISIT_FILL_TIME, b.VISIT_CONFIRM_ID as sub_VISIT_CONFIRM_ID, b.VISIT_CONFIRM_TIME as sub_VISIT_CONFIRM_TIME
        from CRM_CUSTOMER_INFO a
        left join CRM_VISIT b on b.VISIT_CUST_ID = a.CUST_ID
        where a.CUST_ID = #{custId}
    </select>
        
    <insert id="insertCrmMyCustomer" parameterType="CrmMyCustomer">
        insert into CRM_CUSTOMER_INFO
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="custId != null">CUST_ID,</if>
            <if test="custName != null">CUST_NAME,</if>
            <if test="custIndustry != null">CUST_INDUSTRY,</if>
            <if test="custProvince != null">CUST_PROVINCE,</if>
            <if test="custCity != null">CUST_CITY,</if>
            <if test="custAddress != null">CUST_ADDRESS,</if>
            <if test="custScale != null">CUST_SCALE,</if>
            <if test="custNature != null">CUST_NATURE,</if>
            <if test="custIntroduce != null">CUST_INTRODUCE,</if>
            <if test="custState != null">CUST_STATE,</if>
            <if test="custCreateId != null">CUST_CREATE_ID,</if>
            <if test="custCreateTime != null">CUST_CREATE_TIME,</if>
            <if test="custSubmitId != null">CUST_SUBMIT_ID,</if>
            <if test="custSubmitTime != null">CUST_SUBMIT_TIME,</if>
            <if test="custConfirmId != null">CUST_CONFIRM_ID,</if>
            <if test="custConfirmTime != null">CUST_CONFIRM_TIME,</if>
            <if test="custProgressState != null">CUST_PROGRESS_STATE,</if>
            <if test="custLevel != null">CUST_LEVEL,</if>
            <if test="custCompanyWeb != null">CUST_COMPANY_WEB,</if>
            <if test="orgId != null">ORG_ID,</if>
            <if test="custVisitAgainTime != null">CUST_VISIT_AGAIN_TIME,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="custId != null">#{custId},</if>
            <if test="custName != null">#{custName},</if>
            <if test="custIndustry != null">#{custIndustry},</if>
            <if test="custProvince != null">#{custProvince},</if>
            <if test="custCity != null">#{custCity},</if>
            <if test="custAddress != null">#{custAddress},</if>
            <if test="custScale != null">#{custScale},</if>
            <if test="custNature != null">#{custNature},</if>
            <if test="custIntroduce != null">#{custIntroduce},</if>
            <if test="custState != null">#{custState},</if>
            <if test="custCreateId != null">#{custCreateId},</if>
            <if test="custCreateTime != null">#{custCreateTime},</if>
            <if test="custSubmitId != null">#{custSubmitId},</if>
            <if test="custSubmitTime != null">#{custSubmitTime},</if>
            <if test="custConfirmId != null">#{custConfirmId},</if>
            <if test="custConfirmTime != null">#{custConfirmTime},</if>
            <if test="custProgressState != null">#{custProgressState},</if>
            <if test="custLevel != null">#{custLevel},</if>
            <if test="custCompanyWeb != null">#{custCompanyWeb},</if>
            <if test="orgId != null">#{orgId},</if>
            <if test="custVisitAgainTime != null">#{custVisitAgainTime},</if>
         </trim>
    </insert>

    <update id="updateCrmMyCustomer" parameterType="CrmMyCustomer">
        update CRM_CUSTOMER_INFO
        <trim prefix="SET" suffixOverrides=",">
            <if test="custName != null">CUST_NAME = #{custName},</if>
            <if test="custIndustry != null">CUST_INDUSTRY = #{custIndustry},</if>
            <if test="custProvince != null">CUST_PROVINCE = #{custProvince},</if>
            <if test="custCity != null">CUST_CITY = #{custCity},</if>
            <if test="custAddress != null">CUST_ADDRESS = #{custAddress},</if>
            <if test="custScale != null">CUST_SCALE = #{custScale},</if>
            <if test="custNature != null">CUST_NATURE = #{custNature},</if>
            <if test="custIntroduce != null">CUST_INTRODUCE = #{custIntroduce},</if>
            <if test="custState != null">CUST_STATE = #{custState},</if>
            <if test="custCreateId != null">CUST_CREATE_ID = #{custCreateId},</if>
            <if test="custCreateTime != null">CUST_CREATE_TIME = #{custCreateTime},</if>
            <if test="custSubmitId != null">CUST_SUBMIT_ID = #{custSubmitId},</if>
            <if test="custSubmitTime != null">CUST_SUBMIT_TIME = #{custSubmitTime},</if>
            <if test="custConfirmId != null">CUST_CONFIRM_ID = #{custConfirmId},</if>
            <if test="custConfirmTime != null">CUST_CONFIRM_TIME = #{custConfirmTime},</if>
            <if test="custProgressState != null">CUST_PROGRESS_STATE = #{custProgressState},</if>
            <if test="custLevel != null">CUST_LEVEL = #{custLevel},</if>
            <if test="custCompanyWeb != null">CUST_COMPANY_WEB = #{custCompanyWeb},</if>
            <if test="orgId != null">ORG_ID = #{orgId},</if>
            <if test="custVisitAgainTime != null">CUST_VISIT_AGAIN_TIME = #{custVisitAgainTime},</if>
        </trim>
        where CUST_ID = #{custId}
    </update>

    <delete id="deleteCrmMyCustomerByCustId" parameterType="Long">
        delete from CRM_CUSTOMER_INFO where CUST_ID = #{custId}
    </delete>

    <delete id="deleteCrmMyCustomerByCustIds" parameterType="String">
        delete from CRM_CUSTOMER_INFO where CUST_ID in 
        <foreach item="custId" collection="array" open="(" separator="," close=")">
            #{custId}
        </foreach>
    </delete>
    
    <delete id="deleteCrmVisitByVisitCustIds" parameterType="String">
        delete from CRM_VISIT where VISIT_CUST_ID in 
        <foreach item="visitCustId" collection="array" open="(" separator="," close=")">
            #{visitCustId}
        </foreach>
    </delete>

    <delete id="deleteCrmVisitByVisitCustId" parameterType="Long">
        delete from CRM_VISIT where VISIT_CUST_ID = #{visitCustId}
    </delete>

    <insert id="batchCrmVisit">
        insert into CRM_VISIT( VISIT_ID, VISIT_TYPE, VISIT_CUST_ID, VISIT_RECEPTION_NAME, VISIT_RECEPTION_SEX, VISIT_RECEPTION_JOB, VISIT_RECEPTION_PHONE, VISIT_USER_ID, VISIT_PEER_NAME, VISIT_DATE, VISIT_CONTENT, VISIT_CUST_FOCUS, VISIT_EFFECT, VISIT_IMPROVEMENT, VISIT_COST, VISIT_COST_EXPLAIN, VISIT_STATE, VISIT_FILL_ID, VISIT_FILL_TIME, VISIT_CONFIRM_ID, VISIT_CONFIRM_TIME) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.visitId}, #{item.visitType}, #{item.visitCustId}, #{item.visitReceptionName}, #{item.visitReceptionSex}, #{item.visitReceptionJob}, #{item.visitReceptionPhone}, #{item.visitUserId}, #{item.visitPeerName}, #{item.visitDate}, #{item.visitContent}, #{item.visitCustFocus}, #{item.visitEffect}, #{item.visitImprovement}, #{item.visitCost}, #{item.visitCostExplain}, #{item.visitState}, #{item.visitFillId}, #{item.visitFillTime}, #{item.visitConfirmId}, #{item.visitConfirmTime})
        </foreach>
    </insert>

</mapper>