<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.crm.mapper.crmOrgCustomerInfoMapper">
    
    <resultMap type="crmOrgCustomerInfo" id="crmOrgCustomerInfoResult">
        <result property="orgId"    column="ORG_ID"    />
        <result property="orgName"    column="ORG_NAME"    />
        <result property="orgType"    column="ORG_TYPE"    />
        <result property="orgIntroduction"    column="ORG_INTRODUCTION"    />
        <result property="orgLinkmanName"    column="ORG_LINKMAN_NAME"    />
        <result property="orgEmail"    column="ORG_EMAIL"    />
        <result property="orgContactWay"    column="ORG_CONTACT_WAY"    />
        <result property="orgState"    column="ORG_STATE"    />
        <result property="orgLabels"    column="ORG_LABELS"    />
        <result property="orgAddress"    column="ORG_ADDRESS"    />
        <result property="orgWebsite"    column="ORG_WEBSITE"    />
        <result property="orgCreater"    column="ORG_CREATER"    />
        <result property="orgCreateTime"    column="ORG_CREATE_TIME"    />
        <result property="orgUpdateTime"    column="ORG_UPDATE_TIME"    />
        <result property="orgClassification"    column="ORG_CLASSIFICATION"    />
        <result property="orgVisitAgainTime"    column="ORG_VISIT_AGAIN_TIME"    />
        <result property="custId"    column="CUST_ID"    />
        <result property="orgSources"    column="ORG_SOURCES"    />
        <result property="orgSalesman"    column="ORG_SALESMAN"    />
        <result property="orgClassify"    column="ORG_CLASSIFY"    />
    </resultMap>

    <sql id="selectcrmOrgCustomerInfoVo">
        select ORG_ID, ORG_NAME, ORG_TYPE, ORG_INTRODUCTION, ORG_LINKMAN_NAME, ORG_EMAIL, ORG_CONTACT_WAY, ORG_STATE, ORG_LABELS, ORG_ADDRESS, ORG_WEBSITE, ORG_CREATER, ORG_CREATE_TIME, ORG_UPDATE_TIME, ORG_CLASSIFICATION, ORG_VISIT_AGAIN_TIME, CUST_ID, ORG_SOURCES, ORG_SALESMAN, ORG_CLASSIFY from CRM_ORG_INFO
    </sql>

    <select id="selectcrmOrgCustomerInfoList" parameterType="crmOrgCustomerInfo" resultMap="crmOrgCustomerInfoResult">
        <include refid="selectcrmOrgCustomerInfoVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectcrmOrgCustomerInfoByOrgId" parameterType="Long" resultMap="crmOrgCustomerInfoResult">
        <include refid="selectcrmOrgCustomerInfoVo"/>
        where ORG_ID = #{orgId}
    </select>
        
    <insert id="insertcrmOrgCustomerInfo" parameterType="crmOrgCustomerInfo" useGeneratedKeys="true" keyProperty="orgId">
        insert into CRM_ORG_INFO
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orgName != null">ORG_NAME,</if>
            <if test="orgType != null">ORG_TYPE,</if>
            <if test="orgIntroduction != null">ORG_INTRODUCTION,</if>
            <if test="orgLinkmanName != null">ORG_LINKMAN_NAME,</if>
            <if test="orgEmail != null">ORG_EMAIL,</if>
            <if test="orgContactWay != null">ORG_CONTACT_WAY,</if>
            <if test="orgState != null">ORG_STATE,</if>
            <if test="orgLabels != null">ORG_LABELS,</if>
            <if test="orgAddress != null">ORG_ADDRESS,</if>
            <if test="orgWebsite != null">ORG_WEBSITE,</if>
            <if test="orgCreater != null">ORG_CREATER,</if>
            <if test="orgCreateTime != null">ORG_CREATE_TIME,</if>
            <if test="orgUpdateTime != null">ORG_UPDATE_TIME,</if>
            <if test="orgClassification != null">ORG_CLASSIFICATION,</if>
            <if test="orgVisitAgainTime != null">ORG_VISIT_AGAIN_TIME,</if>
            <if test="custId != null">CUST_ID,</if>
            <if test="orgSources != null">ORG_SOURCES,</if>
            <if test="orgSalesman != null">ORG_SALESMAN,</if>
            <if test="orgClassify != null">ORG_CLASSIFY,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orgName != null">#{orgName},</if>
            <if test="orgType != null">#{orgType},</if>
            <if test="orgIntroduction != null">#{orgIntroduction},</if>
            <if test="orgLinkmanName != null">#{orgLinkmanName},</if>
            <if test="orgEmail != null">#{orgEmail},</if>
            <if test="orgContactWay != null">#{orgContactWay},</if>
            <if test="orgState != null">#{orgState},</if>
            <if test="orgLabels != null">#{orgLabels},</if>
            <if test="orgAddress != null">#{orgAddress},</if>
            <if test="orgWebsite != null">#{orgWebsite},</if>
            <if test="orgCreater != null">#{orgCreater},</if>
            <if test="orgCreateTime != null">#{orgCreateTime},</if>
            <if test="orgUpdateTime != null">#{orgUpdateTime},</if>
            <if test="orgClassification != null">#{orgClassification},</if>
            <if test="orgVisitAgainTime != null">#{orgVisitAgainTime},</if>
            <if test="custId != null">#{custId},</if>
            <if test="orgSources != null">#{orgSources},</if>
            <if test="orgSalesman != null">#{orgSalesman},</if>
            <if test="orgClassify != null">#{orgClassify},</if>
         </trim>
    </insert>

    <update id="updatecrmOrgCustomerInfo" parameterType="crmOrgCustomerInfo">
        update CRM_ORG_INFO
        <trim prefix="SET" suffixOverrides=",">
            <if test="orgName != null">ORG_NAME = #{orgName},</if>
            <if test="orgType != null">ORG_TYPE = #{orgType},</if>
            <if test="orgIntroduction != null">ORG_INTRODUCTION = #{orgIntroduction},</if>
            <if test="orgLinkmanName != null">ORG_LINKMAN_NAME = #{orgLinkmanName},</if>
            <if test="orgEmail != null">ORG_EMAIL = #{orgEmail},</if>
            <if test="orgContactWay != null">ORG_CONTACT_WAY = #{orgContactWay},</if>
            <if test="orgState != null">ORG_STATE = #{orgState},</if>
            <if test="orgLabels != null">ORG_LABELS = #{orgLabels},</if>
            <if test="orgAddress != null">ORG_ADDRESS = #{orgAddress},</if>
            <if test="orgWebsite != null">ORG_WEBSITE = #{orgWebsite},</if>
            <if test="orgCreater != null">ORG_CREATER = #{orgCreater},</if>
            <if test="orgCreateTime != null">ORG_CREATE_TIME = #{orgCreateTime},</if>
            <if test="orgUpdateTime != null">ORG_UPDATE_TIME = #{orgUpdateTime},</if>
            <if test="orgClassification != null">ORG_CLASSIFICATION = #{orgClassification},</if>
            <if test="orgVisitAgainTime != null">ORG_VISIT_AGAIN_TIME = #{orgVisitAgainTime},</if>
            <if test="custId != null">CUST_ID = #{custId},</if>
            <if test="orgSources != null">ORG_SOURCES = #{orgSources},</if>
            <if test="orgSalesman != null">ORG_SALESMAN = #{orgSalesman},</if>
            <if test="orgClassify != null">ORG_CLASSIFY = #{orgClassify},</if>
        </trim>
        where ORG_ID = #{orgId}
    </update>

    <delete id="deletecrmOrgCustomerInfoByOrgId" parameterType="Long">
        delete from CRM_ORG_INFO where ORG_ID = #{orgId}
    </delete>

    <delete id="deletecrmOrgCustomerInfoByOrgIds" parameterType="String">
        delete from CRM_ORG_INFO where ORG_ID in 
        <foreach item="orgId" collection="array" open="(" separator="," close=")">
            #{orgId}
        </foreach>
    </delete>

</mapper>