<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.crm.mapper.MyTaskReviewMapper">
    
    <resultMap type="MyTaskReview" id="MyTaskReviewResult">
        <result property="taskId"    column="TASK_ID"    />
        <result property="orgId"    column="ORG_ID"    />
        <result property="custId"    column="CUST_ID"    />
        <result property="taskReviewId"    column="TASK_REVIEW_ID"    />
        <result property="saleId"    column="SALE_ID"    />
        <result property="taskFollowState"    column="TASK_FOLLOW_STATE"    />
        <result property="taskClass"    column="TASK_CLASS"    />
        <result property="taskCreateTime"    column="TASK_CREATE_TIME"    />
        <result property="taskFinishTime"    column="TASK_FINISH_TIME"    />
        <result property="taskCustState"    column="TASK_CUST_STATE"    />
    </resultMap>

    <resultMap id="MyTaskReviewTaskReviewResult" type="MyTaskReview" extends="MyTaskReviewResult">
        <collection property="taskReviewList" notNullColumn="sub_TASK_REVIEW_ID" javaType="java.util.List" resultMap="TaskReviewResult" />
    </resultMap>

    <resultMap type="TaskReview" id="TaskReviewResult">
        <result property="taskReviewId"    column="sub_TASK_REVIEW_ID"    />
        <result property="tcId"    column="sub_TC_ID"    />
        <result property="saleId"    column="sub_SALE_ID"    />
        <result property="taskReviewState"    column="sub_TASK_REVIEW_STATE"    />
        <result property="taskReviewDesc"    column="sub_TASK_REVIEW_DESC"    />
        <result property="taskReviewVisitsTotal"    column="sub_TASK_REVIEW_VISITS_TOTAL"    />
        <result property="taskReviewStrange"    column="sub_TASK_REVIEW_STRANGE"    />
        <result property="taskReviewReturnvisit"    column="sub_TASK_REVIEW_RETURNVISIT"    />
        <result property="taskReviewNewIntencust"    column="sub_TASK_REVIEW_NEW_INTENCUST"    />
        <result property="taskReviewReturnvisitHist"    column="sub_TASK_REVIEW_RETURNVISIT_HIST"    />
        <result property="taskReviewLoss"    column="sub_TASK_REVIEW_LOSS"    />
    </resultMap>

    <sql id="selectMyTaskReviewVo">
        select TASK_ID, ORG_ID, CUST_ID, TASK_REVIEW_ID, SALE_ID, TASK_FOLLOW_STATE, TASK_CLASS, TASK_CREATE_TIME, TASK_FINISH_TIME, TASK_CUST_STATE from MY_TASKS
    </sql>

    <select id="selectMyTaskReviewList" parameterType="MyTaskReview" resultMap="MyTaskReviewResult">
        <include refid="selectMyTaskReviewVo"/>
        <where>  
            <if test="taskReviewId != null "> and TASK_REVIEW_ID = #{taskReviewId}</if>
        </where>
    </select>
    
    <select id="selectMyTaskReviewByTaskId" parameterType="Long" resultMap="MyTaskReviewTaskReviewResult">
        select a.TASK_ID, a.ORG_ID, a.CUST_ID, a.TASK_REVIEW_ID, a.SALE_ID, a.TASK_FOLLOW_STATE, a.TASK_CLASS, a.TASK_CREATE_TIME, a.TASK_FINISH_TIME, a.TASK_CUST_STATE,
 b.TASK_REVIEW_ID as sub_TASK_REVIEW_ID, b.TC_ID as sub_TC_ID, b.SALE_ID as sub_SALE_ID, b.TASK_REVIEW_STATE as sub_TASK_REVIEW_STATE, b.TASK_REVIEW_DESC as sub_TASK_REVIEW_DESC, b.TASK_REVIEW_VISITS_TOTAL as sub_TASK_REVIEW_VISITS_TOTAL, b.TASK_REVIEW_STRANGE as sub_TASK_REVIEW_STRANGE, b.TASK_REVIEW_RETURNVISIT as sub_TASK_REVIEW_RETURNVISIT, b.TASK_REVIEW_NEW_INTENCUST as sub_TASK_REVIEW_NEW_INTENCUST, b.TASK_REVIEW_RETURNVISIT_HIST as sub_TASK_REVIEW_RETURNVISIT_HIST, b.TASK_REVIEW_LOSS as sub_TASK_REVIEW_LOSS
        from MY_TASKS a
        left join TASK_REVIEW b on b.TASK_REVIEW_ID = a.TASK_ID
        where a.TASK_ID = #{taskId}
    </select>
        
    <insert id="insertMyTaskReview" parameterType="MyTaskReview" useGeneratedKeys="true" keyProperty="taskId">
        insert into MY_TASKS
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orgId != null">ORG_ID,</if>
            <if test="custId != null">CUST_ID,</if>
            <if test="taskReviewId != null">TASK_REVIEW_ID,</if>
            <if test="saleId != null">SALE_ID,</if>
            <if test="taskFollowState != null">TASK_FOLLOW_STATE,</if>
            <if test="taskClass != null">TASK_CLASS,</if>
            <if test="taskCreateTime != null">TASK_CREATE_TIME,</if>
            <if test="taskFinishTime != null">TASK_FINISH_TIME,</if>
            <if test="taskCustState != null">TASK_CUST_STATE,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orgId != null">#{orgId},</if>
            <if test="custId != null">#{custId},</if>
            <if test="taskReviewId != null">#{taskReviewId},</if>
            <if test="saleId != null">#{saleId},</if>
            <if test="taskFollowState != null">#{taskFollowState},</if>
            <if test="taskClass != null">#{taskClass},</if>
            <if test="taskCreateTime != null">#{taskCreateTime},</if>
            <if test="taskFinishTime != null">#{taskFinishTime},</if>
            <if test="taskCustState != null">#{taskCustState},</if>
         </trim>
    </insert>

    <update id="updateMyTaskReview" parameterType="MyTaskReview">
        update MY_TASKS
        <trim prefix="SET" suffixOverrides=",">
            <if test="orgId != null">ORG_ID = #{orgId},</if>
            <if test="custId != null">CUST_ID = #{custId},</if>
            <if test="taskReviewId != null">TASK_REVIEW_ID = #{taskReviewId},</if>
            <if test="saleId != null">SALE_ID = #{saleId},</if>
            <if test="taskFollowState != null">TASK_FOLLOW_STATE = #{taskFollowState},</if>
            <if test="taskClass != null">TASK_CLASS = #{taskClass},</if>
            <if test="taskCreateTime != null">TASK_CREATE_TIME = #{taskCreateTime},</if>
            <if test="taskFinishTime != null">TASK_FINISH_TIME = #{taskFinishTime},</if>
            <if test="taskCustState != null">TASK_CUST_STATE = #{taskCustState},</if>
        </trim>
        where TASK_ID = #{taskId}
    </update>

    <delete id="deleteMyTaskReviewByTaskId" parameterType="Long">
        delete from MY_TASKS where TASK_ID = #{taskId}
    </delete>

    <delete id="deleteMyTaskReviewByTaskIds" parameterType="String">
        delete from MY_TASKS where TASK_ID in 
        <foreach item="taskId" collection="array" open="(" separator="," close=")">
            #{taskId}
        </foreach>
    </delete>
    
    <delete id="deleteTaskReviewByTaskReviewIds" parameterType="String">
        delete from TASK_REVIEW where TASK_REVIEW_ID in 
        <foreach item="taskReviewId" collection="array" open="(" separator="," close=")">
            #{taskReviewId}
        </foreach>
    </delete>

    <delete id="deleteTaskReviewByTaskReviewId" parameterType="Long">
        delete from TASK_REVIEW where TASK_REVIEW_ID = #{taskReviewId}
    </delete>

    <insert id="batchTaskReview">
        insert into TASK_REVIEW( TASK_REVIEW_ID, TC_ID, SALE_ID, TASK_REVIEW_STATE, TASK_REVIEW_DESC, TASK_REVIEW_VISITS_TOTAL, TASK_REVIEW_STRANGE, TASK_REVIEW_RETURNVISIT, TASK_REVIEW_NEW_INTENCUST, TASK_REVIEW_RETURNVISIT_HIST, TASK_REVIEW_LOSS) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.taskReviewId}, #{item.tcId}, #{item.saleId}, #{item.taskReviewState}, #{item.taskReviewDesc}, #{item.taskReviewVisitsTotal}, #{item.taskReviewStrange}, #{item.taskReviewReturnvisit}, #{item.taskReviewNewIntencust}, #{item.taskReviewReturnvisitHist}, #{item.taskReviewLoss})
        </foreach>
    </insert>

</mapper>