<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.crm.mapper.TaskReviewMapper">
    
    <resultMap type="TaskReview" id="TaskReviewResult">
        <result property="taskReviewId"    column="TASK_REVIEW_ID"    />
        <result property="tcId"    column="TC_ID"    />
        <result property="saleId"    column="SALE_ID"    />
        <result property="taskReviewState"    column="TASK_REVIEW_STATE"    />
        <result property="taskReviewDesc"    column="TASK_REVIEW_DESC"    />
        <result property="taskReviewVisitsTotal"    column="TASK_REVIEW_VISITS_TOTAL"    />
        <result property="taskReviewStrange"    column="TASK_REVIEW_STRANGE"    />
        <result property="taskReviewReturnvisit"    column="TASK_REVIEW_RETURNVISIT"    />
        <result property="taskReviewNewIntencust"    column="TASK_REVIEW_NEW_INTENCUST"    />
        <result property="taskReviewReturnvisitHist"    column="TASK_REVIEW_RETURNVISIT_HIST"    />
        <result property="taskReviewLoss"    column="TASK_REVIEW_LOSS"    />
    </resultMap>

    <resultMap id="TaskReviewTaskCycleResult" type="TaskReview" extends="TaskReviewResult">
        <collection property="taskCycleList" notNullColumn="sub_TC_ID" javaType="java.util.List" resultMap="TaskCycleResult" />
    </resultMap>

    <resultMap type="TaskCycle" id="TaskCycleResult">
        <result property="tcId"    column="sub_TC_ID"    />
        <result property="tcBegin"    column="sub_TC_BEGIN"    />
        <result property="tcEnd"    column="sub_TC_END"    />
    </resultMap>

    <sql id="selectTaskReviewVo">
        select TASK_REVIEW_ID, TC_ID, SALE_ID, TASK_REVIEW_STATE, TASK_REVIEW_DESC, TASK_REVIEW_VISITS_TOTAL, TASK_REVIEW_STRANGE, TASK_REVIEW_RETURNVISIT, TASK_REVIEW_NEW_INTENCUST, TASK_REVIEW_RETURNVISIT_HIST, TASK_REVIEW_LOSS from TASK_REVIEW
    </sql>

    <select id="selectTaskReviewList" parameterType="TaskReview" resultMap="TaskReviewResult">
        <include refid="selectTaskReviewVo"/>
        <where>  
            <if test="tcId != null "> and TC_ID = #{tcId}</if>
            <if test="saleId != null  and saleId != ''"> and SALE_ID = #{saleId}</if>
            <if test="taskReviewState != null  and taskReviewState != ''"> and TASK_REVIEW_STATE = #{taskReviewState}</if>
            <if test="taskReviewDesc != null  and taskReviewDesc != ''"> and TASK_REVIEW_DESC = #{taskReviewDesc}</if>
            <if test="taskReviewVisitsTotal != null "> and TASK_REVIEW_VISITS_TOTAL = #{taskReviewVisitsTotal}</if>
            <if test="taskReviewStrange != null "> and TASK_REVIEW_STRANGE = #{taskReviewStrange}</if>
            <if test="taskReviewReturnvisit != null "> and TASK_REVIEW_RETURNVISIT = #{taskReviewReturnvisit}</if>
            <if test="taskReviewNewIntencust != null "> and TASK_REVIEW_NEW_INTENCUST = #{taskReviewNewIntencust}</if>
            <if test="taskReviewReturnvisitHist != null "> and TASK_REVIEW_RETURNVISIT_HIST = #{taskReviewReturnvisitHist}</if>
            <if test="taskReviewLoss != null "> and TASK_REVIEW_LOSS = #{taskReviewLoss}</if>
        </where>
    </select>
    
    <select id="selectTaskReviewByTaskReviewId" parameterType="Long" resultMap="TaskReviewTaskCycleResult">
        select a.TASK_REVIEW_ID, a.TC_ID, a.SALE_ID, a.TASK_REVIEW_STATE, a.TASK_REVIEW_DESC, a.TASK_REVIEW_VISITS_TOTAL, a.TASK_REVIEW_STRANGE, a.TASK_REVIEW_RETURNVISIT, a.TASK_REVIEW_NEW_INTENCUST, a.TASK_REVIEW_RETURNVISIT_HIST, a.TASK_REVIEW_LOSS,
 b.TC_ID as sub_TC_ID, b.TC_BEGIN as sub_TC_BEGIN, b.TC_END as sub_TC_END
        from TASK_REVIEW a
        left join TASK_CYCLE b on b.TC_ID = a.TASK_REVIEW_ID
        where a.TASK_REVIEW_ID = #{taskReviewId}
    </select>
        
    <insert id="insertTaskReview" parameterType="TaskReview" useGeneratedKeys="true" keyProperty="taskReviewId">
        insert into TASK_REVIEW
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tcId != null">TC_ID,</if>
            <if test="saleId != null">SALE_ID,</if>
            <if test="taskReviewState != null">TASK_REVIEW_STATE,</if>
            <if test="taskReviewDesc != null">TASK_REVIEW_DESC,</if>
            <if test="taskReviewVisitsTotal != null">TASK_REVIEW_VISITS_TOTAL,</if>
            <if test="taskReviewStrange != null">TASK_REVIEW_STRANGE,</if>
            <if test="taskReviewReturnvisit != null">TASK_REVIEW_RETURNVISIT,</if>
            <if test="taskReviewNewIntencust != null">TASK_REVIEW_NEW_INTENCUST,</if>
            <if test="taskReviewReturnvisitHist != null">TASK_REVIEW_RETURNVISIT_HIST,</if>
            <if test="taskReviewLoss != null">TASK_REVIEW_LOSS,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tcId != null">#{tcId},</if>
            <if test="saleId != null">#{saleId},</if>
            <if test="taskReviewState != null">#{taskReviewState},</if>
            <if test="taskReviewDesc != null">#{taskReviewDesc},</if>
            <if test="taskReviewVisitsTotal != null">#{taskReviewVisitsTotal},</if>
            <if test="taskReviewStrange != null">#{taskReviewStrange},</if>
            <if test="taskReviewReturnvisit != null">#{taskReviewReturnvisit},</if>
            <if test="taskReviewNewIntencust != null">#{taskReviewNewIntencust},</if>
            <if test="taskReviewReturnvisitHist != null">#{taskReviewReturnvisitHist},</if>
            <if test="taskReviewLoss != null">#{taskReviewLoss},</if>
         </trim>
    </insert>

    <update id="updateTaskReview" parameterType="TaskReview">
        update TASK_REVIEW
        <trim prefix="SET" suffixOverrides=",">
            <if test="tcId != null">TC_ID = #{tcId},</if>
            <if test="saleId != null">SALE_ID = #{saleId},</if>
            <if test="taskReviewState != null">TASK_REVIEW_STATE = #{taskReviewState},</if>
            <if test="taskReviewDesc != null">TASK_REVIEW_DESC = #{taskReviewDesc},</if>
            <if test="taskReviewVisitsTotal != null">TASK_REVIEW_VISITS_TOTAL = #{taskReviewVisitsTotal},</if>
            <if test="taskReviewStrange != null">TASK_REVIEW_STRANGE = #{taskReviewStrange},</if>
            <if test="taskReviewReturnvisit != null">TASK_REVIEW_RETURNVISIT = #{taskReviewReturnvisit},</if>
            <if test="taskReviewNewIntencust != null">TASK_REVIEW_NEW_INTENCUST = #{taskReviewNewIntencust},</if>
            <if test="taskReviewReturnvisitHist != null">TASK_REVIEW_RETURNVISIT_HIST = #{taskReviewReturnvisitHist},</if>
            <if test="taskReviewLoss != null">TASK_REVIEW_LOSS = #{taskReviewLoss},</if>
        </trim>
        where TASK_REVIEW_ID = #{taskReviewId}
    </update>

    <delete id="deleteTaskReviewByTaskReviewId" parameterType="Long">
        delete from TASK_REVIEW where TASK_REVIEW_ID = #{taskReviewId}
    </delete>

    <delete id="deleteTaskReviewByTaskReviewIds" parameterType="String">
        delete from TASK_REVIEW where TASK_REVIEW_ID in 
        <foreach item="taskReviewId" collection="array" open="(" separator="," close=")">
            #{taskReviewId}
        </foreach>
    </delete>
    
    <delete id="deleteTaskCycleByTcIds" parameterType="String">
        delete from TASK_CYCLE where TC_ID in 
        <foreach item="tcId" collection="array" open="(" separator="," close=")">
            #{tcId}
        </foreach>
    </delete>

    <delete id="deleteTaskCycleByTcId" parameterType="Long">
        delete from TASK_CYCLE where TC_ID = #{tcId}
    </delete>

    <insert id="batchTaskCycle">
        insert into TASK_CYCLE( TC_ID, TC_BEGIN, TC_END) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.tcId}, #{item.tcBegin}, #{item.tcEnd})
        </foreach>
    </insert>

</mapper>