<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改陌生拜访')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-strangevisit-edit" th:object="${crmTaskReviewStrangeVisit}">
            <input name="orgId" th:field="*{orgId}" type="hidden">
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "strangevisit/strangevisit";
        $("#form-strangevisit-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-strangevisit-edit').serialize());
            }
        }
    </script>
</body>
</html>