<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzjtugrp2.mapper.CustomerGroupMapper">

    <resultMap id="BaseResultMap" type="com.lzjtugrp2.domain.CustomerGroup">
            <id property="grpId" column="GRP_ID" jdbcType="BIGINT"/>
            <result property="grpSupId" column="GRP_SUP_ID" jdbcType="BIGINT"/>
            <result property="grpCode" column="GRP_CODE" jdbcType="VARCHAR"/>
            <result property="grpName" column="GRP_NAME" jdbcType="VARCHAR"/>
            <result property="grpSort" column="GRP_SORT" jdbcType="INTEGER"/>
            <result property="grpState" column="GRP_STATE" jdbcType="VARCHAR"/>
            <result property="grpDesc" column="GRP_DESC" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        GRP_ID,GRP_SUP_ID,GRP_CODE,
        GRP_NAME,GRP_SORT,GRP_STATE,
        GRP_DESC
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from crm_customer_group
        where  GRP_ID = #{grpId,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from crm_customer_group
        where  GRP_ID = #{grpId,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="GRP_ID" keyProperty="grpId" parameterType="com.lzjtugrp2.domain.CustomerGroup" useGeneratedKeys="true">
        insert into crm_customer_group
        ( GRP_ID,GRP_SUP_ID,GRP_CODE
        ,GRP_NAME,GRP_SORT,GRP_STATE
        ,GRP_DESC)
        values (#{grpId,jdbcType=BIGINT},#{grpSupId,jdbcType=BIGINT},#{grpCode,jdbcType=VARCHAR}
        ,#{grpName,jdbcType=VARCHAR},#{grpSort,jdbcType=INTEGER},#{grpState,jdbcType=VARCHAR}
        ,#{grpDesc,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="GRP_ID" keyProperty="grpId" parameterType="com.lzjtugrp2.domain.CustomerGroup" useGeneratedKeys="true">
        insert into crm_customer_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="grpId != null">GRP_ID,</if>
                <if test="grpSupId != null">GRP_SUP_ID,</if>
                <if test="grpCode != null">GRP_CODE,</if>
                <if test="grpName != null">GRP_NAME,</if>
                <if test="grpSort != null">GRP_SORT,</if>
                <if test="grpState != null">GRP_STATE,</if>
                <if test="grpDesc != null">GRP_DESC,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="grpId != null">#{grpId,jdbcType=BIGINT},</if>
                <if test="grpSupId != null">#{grpSupId,jdbcType=BIGINT},</if>
                <if test="grpCode != null">#{grpCode,jdbcType=VARCHAR},</if>
                <if test="grpName != null">#{grpName,jdbcType=VARCHAR},</if>
                <if test="grpSort != null">#{grpSort,jdbcType=INTEGER},</if>
                <if test="grpState != null">#{grpState,jdbcType=VARCHAR},</if>
                <if test="grpDesc != null">#{grpDesc,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lzjtugrp2.domain.CustomerGroup">
        update crm_customer_group
        <set>
                <if test="grpSupId != null">
                    GRP_SUP_ID = #{grpSupId,jdbcType=BIGINT},
                </if>
                <if test="grpCode != null">
                    GRP_CODE = #{grpCode,jdbcType=VARCHAR},
                </if>
                <if test="grpName != null">
                    GRP_NAME = #{grpName,jdbcType=VARCHAR},
                </if>
                <if test="grpSort != null">
                    GRP_SORT = #{grpSort,jdbcType=INTEGER},
                </if>
                <if test="grpState != null">
                    GRP_STATE = #{grpState,jdbcType=VARCHAR},
                </if>
                <if test="grpDesc != null">
                    GRP_DESC = #{grpDesc,jdbcType=VARCHAR},
                </if>
        </set>
        where   GRP_ID = #{grpId,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lzjtugrp2.domain.CustomerGroup">
        update crm_customer_group
        set 
            GRP_SUP_ID =  #{grpSupId,jdbcType=BIGINT},
            GRP_CODE =  #{grpCode,jdbcType=VARCHAR},
            GRP_NAME =  #{grpName,jdbcType=VARCHAR},
            GRP_SORT =  #{grpSort,jdbcType=INTEGER},
            GRP_STATE =  #{grpState,jdbcType=VARCHAR},
            GRP_DESC =  #{grpDesc,jdbcType=VARCHAR}
        where   GRP_ID = #{grpId,jdbcType=BIGINT} 
    </update>
</mapper>
