<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzjtuGrp2.mapper.MyTasksMapper">

    <resultMap id="BaseResultMap" type="com.lzjtugrp2.domain.MyTasks">
            <id property="taskId" column="TASK_ID" jdbcType="BIGINT"/>
            <result property="orgId" column="ORG_ID" jdbcType="BIGINT"/>
            <result property="custId" column="CUST_ID" jdbcType="BIGINT"/>
            <result property="taskReviewId" column="TASK_REVIEW_ID" jdbcType="BIGINT"/>
            <result property="saleId" column="SALE_ID" jdbcType="BIGINT"/>
            <result property="taskFollowState" column="TASK_FOLLOW_STATE" jdbcType="VARCHAR"/>
            <result property="taskClass" column="TASK_CLASS" jdbcType="VARCHAR"/>
            <result property="taskCreateTime" column="TASK_CREATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="taskFinishTime" column="TASK_FINISH_TIME" jdbcType="TIMESTAMP"/>
            <result property="taskCustState" column="TASK_CUST_STATE" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        TASK_ID,ORG_ID,CUST_ID,
        TASK_REVIEW_ID,SALE_ID,TASK_FOLLOW_STATE,
        TASK_CLASS,TASK_CREATE_TIME,TASK_FINISH_TIME,
        TASK_CUST_STATE
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from crm_my_tasks
        where  TASK_ID = #{taskId,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from crm_my_tasks
        where  TASK_ID = #{taskId,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="TASK_ID" keyProperty="taskId" parameterType="com.lzjtugrp2.domain.MyTasks" useGeneratedKeys="true">
        insert into crm_my_tasks
        ( TASK_ID,ORG_ID,CUST_ID
        ,TASK_REVIEW_ID,SALE_ID,TASK_FOLLOW_STATE
        ,TASK_CLASS,TASK_CREATE_TIME,TASK_FINISH_TIME
        ,TASK_CUST_STATE)
        values (#{taskId,jdbcType=BIGINT},#{orgId,jdbcType=BIGINT},#{custId,jdbcType=BIGINT}
        ,#{taskReviewId,jdbcType=BIGINT},#{saleId,jdbcType=BIGINT},#{taskFollowState,jdbcType=VARCHAR}
        ,#{taskClass,jdbcType=VARCHAR},#{taskCreateTime,jdbcType=TIMESTAMP},#{taskFinishTime,jdbcType=TIMESTAMP}
        ,#{taskCustState,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="TASK_ID" keyProperty="taskId" parameterType="com.lzjtugrp2.domain.MyTasks" useGeneratedKeys="true">
        insert into crm_my_tasks
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="taskId != null">TASK_ID,</if>
                <if test="orgId != null">ORG_ID,</if>
                <if test="custId != null">CUST_ID,</if>
                <if test="taskReviewId != null">TASK_REVIEW_ID,</if>
                <if test="saleId != null">SALE_ID,</if>
                <if test="taskFollowState != null">TASK_FOLLOW_STATE,</if>
                <if test="taskClass != null">TASK_CLASS,</if>
                <if test="taskCreateTime != null">TASK_CREATE_TIME,</if>
                <if test="taskFinishTime != null">TASK_FINISH_TIME,</if>
                <if test="taskCustState != null">TASK_CUST_STATE,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="taskId != null">#{taskId,jdbcType=BIGINT},</if>
                <if test="orgId != null">#{orgId,jdbcType=BIGINT},</if>
                <if test="custId != null">#{custId,jdbcType=BIGINT},</if>
                <if test="taskReviewId != null">#{taskReviewId,jdbcType=BIGINT},</if>
                <if test="saleId != null">#{saleId,jdbcType=BIGINT},</if>
                <if test="taskFollowState != null">#{taskFollowState,jdbcType=VARCHAR},</if>
                <if test="taskClass != null">#{taskClass,jdbcType=VARCHAR},</if>
                <if test="taskCreateTime != null">#{taskCreateTime,jdbcType=TIMESTAMP},</if>
                <if test="taskFinishTime != null">#{taskFinishTime,jdbcType=TIMESTAMP},</if>
                <if test="taskCustState != null">#{taskCustState,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lzjtugrp2.domain.MyTasks">
        update crm_my_tasks
        <set>
                <if test="orgId != null">
                    ORG_ID = #{orgId,jdbcType=BIGINT},
                </if>
                <if test="custId != null">
                    CUST_ID = #{custId,jdbcType=BIGINT},
                </if>
                <if test="taskReviewId != null">
                    TASK_REVIEW_ID = #{taskReviewId,jdbcType=BIGINT},
                </if>
                <if test="saleId != null">
                    SALE_ID = #{saleId,jdbcType=BIGINT},
                </if>
                <if test="taskFollowState != null">
                    TASK_FOLLOW_STATE = #{taskFollowState,jdbcType=VARCHAR},
                </if>
                <if test="taskClass != null">
                    TASK_CLASS = #{taskClass,jdbcType=VARCHAR},
                </if>
                <if test="taskCreateTime != null">
                    TASK_CREATE_TIME = #{taskCreateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="taskFinishTime != null">
                    TASK_FINISH_TIME = #{taskFinishTime,jdbcType=TIMESTAMP},
                </if>
                <if test="taskCustState != null">
                    TASK_CUST_STATE = #{taskCustState,jdbcType=VARCHAR},
                </if>
        </set>
        where   TASK_ID = #{taskId,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lzjtugrp2.domain.MyTasks">
        update crm_my_tasks
        set 
            ORG_ID =  #{orgId,jdbcType=BIGINT},
            CUST_ID =  #{custId,jdbcType=BIGINT},
            TASK_REVIEW_ID =  #{taskReviewId,jdbcType=BIGINT},
            SALE_ID =  #{saleId,jdbcType=BIGINT},
            TASK_FOLLOW_STATE =  #{taskFollowState,jdbcType=VARCHAR},
            TASK_CLASS =  #{taskClass,jdbcType=VARCHAR},
            TASK_CREATE_TIME =  #{taskCreateTime,jdbcType=TIMESTAMP},
            TASK_FINISH_TIME =  #{taskFinishTime,jdbcType=TIMESTAMP},
            TASK_CUST_STATE =  #{taskCustState,jdbcType=VARCHAR}
        where   TASK_ID = #{taskId,jdbcType=BIGINT} 
    </update>
</mapper>
