<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzjtugrp2.mapper.OppInfoMapper">

    <resultMap id="BaseResultMap" type="com.lzjtugrp2.domain.OppInfo">
            <id property="oppId" column="OPP_ID" jdbcType="BIGINT"/>
            <result property="oppName" column="OPP_NAME" jdbcType="VARCHAR"/>
            <result property="clueId" column="CLUE_ID" jdbcType="CHAR"/>
            <result property="custId" column="CUST_ID" jdbcType="CHAR"/>
            <result property="contId" column="CONT_ID" jdbcType="CHAR"/>
            <result property="oppDes" column="OPP_DES" jdbcType="VARCHAR"/>
            <result property="oppConcernProduct" column="OPP_CONCERN_PRODUCT" jdbcType="VARCHAR"/>
            <result property="oppExpectInvest" column="OPP_EXPECT_INVEST" jdbcType="DECIMAL"/>
            <result property="oppStartTime" column="OPP_START_TIME" jdbcType="TIMESTAMP"/>
            <result property="oppState" column="OPP_STATE" jdbcType="VARCHAR"/>
            <result property="clueSalesman" column="CLUE_SALESMAN" jdbcType="CHAR"/>
            <result property="oppCreater" column="OPP_CREATER" jdbcType="CHAR"/>
            <result property="oppCreateTime" column="OPP_CREATE_TIME" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        OPP_ID,OPP_NAME,CLUE_ID,
        CUST_ID,CONT_ID,OPP_DES,
        OPP_CONCERN_PRODUCT,OPP_EXPECT_INVEST,OPP_START_TIME,
        OPP_STATE,CLUE_SALESMAN,OPP_CREATER,
        OPP_CREATE_TIME
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from crm_opp_info
        where  OPP_ID = #{oppId,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from crm_opp_info
        where  OPP_ID = #{oppId,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="OPP_ID" keyProperty="oppId" parameterType="com.lzjtugrp2.domain.OppInfo" useGeneratedKeys="true">
        insert into crm_opp_info
        ( OPP_ID,OPP_NAME,CLUE_ID
        ,CUST_ID,CONT_ID,OPP_DES
        ,OPP_CONCERN_PRODUCT,OPP_EXPECT_INVEST,OPP_START_TIME
        ,OPP_STATE,CLUE_SALESMAN,OPP_CREATER
        ,OPP_CREATE_TIME)
        values (#{oppId,jdbcType=BIGINT},#{oppName,jdbcType=VARCHAR},#{clueId,jdbcType=CHAR}
        ,#{custId,jdbcType=CHAR},#{contId,jdbcType=CHAR},#{oppDes,jdbcType=VARCHAR}
        ,#{oppConcernProduct,jdbcType=VARCHAR},#{oppExpectInvest,jdbcType=DECIMAL},#{oppStartTime,jdbcType=TIMESTAMP}
        ,#{oppState,jdbcType=VARCHAR},#{clueSalesman,jdbcType=CHAR},#{oppCreater,jdbcType=CHAR}
        ,#{oppCreateTime,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="OPP_ID" keyProperty="oppId" parameterType="com.lzjtugrp2.domain.OppInfo" useGeneratedKeys="true">
        insert into crm_opp_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="oppId != null">OPP_ID,</if>
                <if test="oppName != null">OPP_NAME,</if>
                <if test="clueId != null">CLUE_ID,</if>
                <if test="custId != null">CUST_ID,</if>
                <if test="contId != null">CONT_ID,</if>
                <if test="oppDes != null">OPP_DES,</if>
                <if test="oppConcernProduct != null">OPP_CONCERN_PRODUCT,</if>
                <if test="oppExpectInvest != null">OPP_EXPECT_INVEST,</if>
                <if test="oppStartTime != null">OPP_START_TIME,</if>
                <if test="oppState != null">OPP_STATE,</if>
                <if test="clueSalesman != null">CLUE_SALESMAN,</if>
                <if test="oppCreater != null">OPP_CREATER,</if>
                <if test="oppCreateTime != null">OPP_CREATE_TIME,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="oppId != null">#{oppId,jdbcType=BIGINT},</if>
                <if test="oppName != null">#{oppName,jdbcType=VARCHAR},</if>
                <if test="clueId != null">#{clueId,jdbcType=CHAR},</if>
                <if test="custId != null">#{custId,jdbcType=CHAR},</if>
                <if test="contId != null">#{contId,jdbcType=CHAR},</if>
                <if test="oppDes != null">#{oppDes,jdbcType=VARCHAR},</if>
                <if test="oppConcernProduct != null">#{oppConcernProduct,jdbcType=VARCHAR},</if>
                <if test="oppExpectInvest != null">#{oppExpectInvest,jdbcType=DECIMAL},</if>
                <if test="oppStartTime != null">#{oppStartTime,jdbcType=TIMESTAMP},</if>
                <if test="oppState != null">#{oppState,jdbcType=VARCHAR},</if>
                <if test="clueSalesman != null">#{clueSalesman,jdbcType=CHAR},</if>
                <if test="oppCreater != null">#{oppCreater,jdbcType=CHAR},</if>
                <if test="oppCreateTime != null">#{oppCreateTime,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lzjtugrp2.domain.OppInfo">
        update crm_opp_info
        <set>
                <if test="oppName != null">
                    OPP_NAME = #{oppName,jdbcType=VARCHAR},
                </if>
                <if test="clueId != null">
                    CLUE_ID = #{clueId,jdbcType=CHAR},
                </if>
                <if test="custId != null">
                    CUST_ID = #{custId,jdbcType=CHAR},
                </if>
                <if test="contId != null">
                    CONT_ID = #{contId,jdbcType=CHAR},
                </if>
                <if test="oppDes != null">
                    OPP_DES = #{oppDes,jdbcType=VARCHAR},
                </if>
                <if test="oppConcernProduct != null">
                    OPP_CONCERN_PRODUCT = #{oppConcernProduct,jdbcType=VARCHAR},
                </if>
                <if test="oppExpectInvest != null">
                    OPP_EXPECT_INVEST = #{oppExpectInvest,jdbcType=DECIMAL},
                </if>
                <if test="oppStartTime != null">
                    OPP_START_TIME = #{oppStartTime,jdbcType=TIMESTAMP},
                </if>
                <if test="oppState != null">
                    OPP_STATE = #{oppState,jdbcType=VARCHAR},
                </if>
                <if test="clueSalesman != null">
                    CLUE_SALESMAN = #{clueSalesman,jdbcType=CHAR},
                </if>
                <if test="oppCreater != null">
                    OPP_CREATER = #{oppCreater,jdbcType=CHAR},
                </if>
                <if test="oppCreateTime != null">
                    OPP_CREATE_TIME = #{oppCreateTime,jdbcType=VARCHAR},
                </if>
        </set>
        where   OPP_ID = #{oppId,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lzjtugrp2.domain.OppInfo">
        update crm_opp_info
        set 
            OPP_NAME =  #{oppName,jdbcType=VARCHAR},
            CLUE_ID =  #{clueId,jdbcType=CHAR},
            CUST_ID =  #{custId,jdbcType=CHAR},
            CONT_ID =  #{contId,jdbcType=CHAR},
            OPP_DES =  #{oppDes,jdbcType=VARCHAR},
            OPP_CONCERN_PRODUCT =  #{oppConcernProduct,jdbcType=VARCHAR},
            OPP_EXPECT_INVEST =  #{oppExpectInvest,jdbcType=DECIMAL},
            OPP_START_TIME =  #{oppStartTime,jdbcType=TIMESTAMP},
            OPP_STATE =  #{oppState,jdbcType=VARCHAR},
            CLUE_SALESMAN =  #{clueSalesman,jdbcType=CHAR},
            OPP_CREATER =  #{oppCreater,jdbcType=CHAR},
            OPP_CREATE_TIME =  #{oppCreateTime,jdbcType=VARCHAR}
        where   OPP_ID = #{oppId,jdbcType=BIGINT} 
    </update>
</mapper>
