<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzjtugrp2.mapper.OrderEntryMapper">

    <resultMap id="BaseResultMap" type="com.lzjtugrp2.domain.OrderEntry">
            <id property="entryId" column="ENTRY_ID" jdbcType="BIGINT"/>
            <result property="orderId" column="ORDER_ID" jdbcType="BIGINT"/>
            <result property="entryOrderProduct" column="ENTRY_ORDER_PRODUCT" jdbcType="VARCHAR"/>
            <result property="entryProductModel" column="ENTRY_PRODUCT_MODEL" jdbcType="VARCHAR"/>
            <result property="entryNumber" column="ENTRY_NUMBER" jdbcType="DECIMAL"/>
            <result property="entryUnitPrice" column="ENTRY_UNIT_PRICE" jdbcType="DECIMAL"/>
            <result property="entryDiscount" column="ENTRY_DISCOUNT" jdbcType="DECIMAL"/>
            <result property="entryRealPrice" column="ENTRY_REAL_PRICE" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        ENTRY_ID,ORDER_ID,ENTRY_ORDER_PRODUCT,
        ENTRY_PRODUCT_MODEL,ENTRY_NUMBER,ENTRY_UNIT_PRICE,
        ENTRY_DISCOUNT,ENTRY_REAL_PRICE
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from crm_order_entry
        where  ENTRY_ID = #{entryId,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from crm_order_entry
        where  ENTRY_ID = #{entryId,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="ENTRY_ID" keyProperty="entryId" parameterType="com.lzjtugrp2.domain.OrderEntry" useGeneratedKeys="true">
        insert into crm_order_entry
        ( ENTRY_ID,ORDER_ID,ENTRY_ORDER_PRODUCT
        ,ENTRY_PRODUCT_MODEL,ENTRY_NUMBER,ENTRY_UNIT_PRICE
        ,ENTRY_DISCOUNT,ENTRY_REAL_PRICE)
        values (#{entryId,jdbcType=BIGINT},#{orderId,jdbcType=BIGINT},#{entryOrderProduct,jdbcType=VARCHAR}
        ,#{entryProductModel,jdbcType=VARCHAR},#{entryNumber,jdbcType=DECIMAL},#{entryUnitPrice,jdbcType=DECIMAL}
        ,#{entryDiscount,jdbcType=DECIMAL},#{entryRealPrice,jdbcType=DECIMAL})
    </insert>
    <insert id="insertSelective" keyColumn="ENTRY_ID" keyProperty="entryId" parameterType="com.lzjtugrp2.domain.OrderEntry" useGeneratedKeys="true">
        insert into crm_order_entry
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="entryId != null">ENTRY_ID,</if>
                <if test="orderId != null">ORDER_ID,</if>
                <if test="entryOrderProduct != null">ENTRY_ORDER_PRODUCT,</if>
                <if test="entryProductModel != null">ENTRY_PRODUCT_MODEL,</if>
                <if test="entryNumber != null">ENTRY_NUMBER,</if>
                <if test="entryUnitPrice != null">ENTRY_UNIT_PRICE,</if>
                <if test="entryDiscount != null">ENTRY_DISCOUNT,</if>
                <if test="entryRealPrice != null">ENTRY_REAL_PRICE,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="entryId != null">#{entryId,jdbcType=BIGINT},</if>
                <if test="orderId != null">#{orderId,jdbcType=BIGINT},</if>
                <if test="entryOrderProduct != null">#{entryOrderProduct,jdbcType=VARCHAR},</if>
                <if test="entryProductModel != null">#{entryProductModel,jdbcType=VARCHAR},</if>
                <if test="entryNumber != null">#{entryNumber,jdbcType=DECIMAL},</if>
                <if test="entryUnitPrice != null">#{entryUnitPrice,jdbcType=DECIMAL},</if>
                <if test="entryDiscount != null">#{entryDiscount,jdbcType=DECIMAL},</if>
                <if test="entryRealPrice != null">#{entryRealPrice,jdbcType=DECIMAL},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lzjtugrp2.domain.OrderEntry">
        update crm_order_entry
        <set>
                <if test="orderId != null">
                    ORDER_ID = #{orderId,jdbcType=BIGINT},
                </if>
                <if test="entryOrderProduct != null">
                    ENTRY_ORDER_PRODUCT = #{entryOrderProduct,jdbcType=VARCHAR},
                </if>
                <if test="entryProductModel != null">
                    ENTRY_PRODUCT_MODEL = #{entryProductModel,jdbcType=VARCHAR},
                </if>
                <if test="entryNumber != null">
                    ENTRY_NUMBER = #{entryNumber,jdbcType=DECIMAL},
                </if>
                <if test="entryUnitPrice != null">
                    ENTRY_UNIT_PRICE = #{entryUnitPrice,jdbcType=DECIMAL},
                </if>
                <if test="entryDiscount != null">
                    ENTRY_DISCOUNT = #{entryDiscount,jdbcType=DECIMAL},
                </if>
                <if test="entryRealPrice != null">
                    ENTRY_REAL_PRICE = #{entryRealPrice,jdbcType=DECIMAL},
                </if>
        </set>
        where   ENTRY_ID = #{entryId,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lzjtugrp2.domain.OrderEntry">
        update crm_order_entry
        set 
            ORDER_ID =  #{orderId,jdbcType=BIGINT},
            ENTRY_ORDER_PRODUCT =  #{entryOrderProduct,jdbcType=VARCHAR},
            ENTRY_PRODUCT_MODEL =  #{entryProductModel,jdbcType=VARCHAR},
            ENTRY_NUMBER =  #{entryNumber,jdbcType=DECIMAL},
            ENTRY_UNIT_PRICE =  #{entryUnitPrice,jdbcType=DECIMAL},
            ENTRY_DISCOUNT =  #{entryDiscount,jdbcType=DECIMAL},
            ENTRY_REAL_PRICE =  #{entryRealPrice,jdbcType=DECIMAL}
        where   ENTRY_ID = #{entryId,jdbcType=BIGINT} 
    </update>
</mapper>
