<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzjtugrp2.mapper.SecurityUserMapper">

    <resultMap id="BaseResultMap" type="com.lzjtugrp2.domain.SecurityUser">
            <id property="userId" column="USER_ID" jdbcType="BIGINT"/>
            <result property="userName" column="USER_NAME" jdbcType="VARCHAR"/>
            <result property="userCode" column="USER_CODE" jdbcType="VARCHAR"/>
            <result property="userPwd" column="USER_PWD" jdbcType="VARCHAR"/>
            <result property="userSex" column="USER_SEX" jdbcType="INTEGER"/>
            <result property="userDesc" column="USER_DESC" jdbcType="VARCHAR"/>
            <result property="userState" column="USER_STATE" jdbcType="VARCHAR"/>
            <result property="userMail" column="USER_MAIL" jdbcType="VARCHAR"/>
            <result property="userSort" column="USER_SORT" jdbcType="INTEGER"/>
            <result property="userPhone" column="USER_PHONE" jdbcType="VARCHAR"/>
            <result property="displayCount" column="DISPLAY_COUNT" jdbcType="INTEGER"/>
            <result property="grpId" column="GRP_ID" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        USER_ID,USER_NAME,USER_CODE,
        USER_PWD,USER_SEX,USER_DESC,
        USER_STATE,USER_MAIL,USER_SORT,
        USER_PHONE,DISPLAY_COUNT,GRP_ID
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from CRM_SECURITY_USER
        where  USER_ID = #{userId,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from CRM_SECURITY_USER
        where  USER_ID = #{userId,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="USER_ID" keyProperty="userId" parameterType="com.lzjtugrp2.domain.SecurityUser" useGeneratedKeys="true">
        insert into CRM_SECURITY_USER
        ( USER_ID,USER_NAME,USER_CODE
        ,USER_PWD,USER_SEX,USER_DESC
        ,USER_STATE,USER_MAIL,USER_SORT
        ,USER_PHONE,DISPLAY_COUNT,GRP_ID
        )
        values (#{userId,jdbcType=BIGINT},#{userName,jdbcType=VARCHAR},#{userCode,jdbcType=VARCHAR}
        ,#{userPwd,jdbcType=VARCHAR},#{userSex,jdbcType=INTEGER},#{userDesc,jdbcType=VARCHAR}
        ,#{userState,jdbcType=VARCHAR},#{userMail,jdbcType=VARCHAR},#{userSort,jdbcType=INTEGER}
        ,#{userPhone,jdbcType=VARCHAR},#{displayCount,jdbcType=INTEGER},#{grpId,jdbcType=BIGINT}
        )
    </insert>
    <insert id="insertSelective" keyColumn="USER_ID" keyProperty="userId" parameterType="com.lzjtugrp2.domain.SecurityUser" useGeneratedKeys="true">
        insert into CRM_SECURITY_USER
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="userId != null">USER_ID,</if>
                <if test="userName != null">USER_NAME,</if>
                <if test="userCode != null">USER_CODE,</if>
                <if test="userPwd != null">USER_PWD,</if>
                <if test="userSex != null">USER_SEX,</if>
                <if test="userDesc != null">USER_DESC,</if>
                <if test="userState != null">USER_STATE,</if>
                <if test="userMail != null">USER_MAIL,</if>
                <if test="userSort != null">USER_SORT,</if>
                <if test="userPhone != null">USER_PHONE,</if>
                <if test="displayCount != null">DISPLAY_COUNT,</if>
                <if test="grpId != null">GRP_ID,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="userId != null">#{userId,jdbcType=BIGINT},</if>
                <if test="userName != null">#{userName,jdbcType=VARCHAR},</if>
                <if test="userCode != null">#{userCode,jdbcType=VARCHAR},</if>
                <if test="userPwd != null">#{userPwd,jdbcType=VARCHAR},</if>
                <if test="userSex != null">#{userSex,jdbcType=INTEGER},</if>
                <if test="userDesc != null">#{userDesc,jdbcType=VARCHAR},</if>
                <if test="userState != null">#{userState,jdbcType=VARCHAR},</if>
                <if test="userMail != null">#{userMail,jdbcType=VARCHAR},</if>
                <if test="userSort != null">#{userSort,jdbcType=INTEGER},</if>
                <if test="userPhone != null">#{userPhone,jdbcType=VARCHAR},</if>
                <if test="displayCount != null">#{displayCount,jdbcType=INTEGER},</if>
                <if test="grpId != null">#{grpId,jdbcType=BIGINT},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lzjtugrp2.domain.SecurityUser">
        update CRM_SECURITY_USER
        <set>
                <if test="userName != null">
                    USER_NAME = #{userName,jdbcType=VARCHAR},
                </if>
                <if test="userCode != null">
                    USER_CODE = #{userCode,jdbcType=VARCHAR},
                </if>
                <if test="userPwd != null">
                    USER_PWD = #{userPwd,jdbcType=VARCHAR},
                </if>
                <if test="userSex != null">
                    USER_SEX = #{userSex,jdbcType=INTEGER},
                </if>
                <if test="userDesc != null">
                    USER_DESC = #{userDesc,jdbcType=VARCHAR},
                </if>
                <if test="userState != null">
                    USER_STATE = #{userState,jdbcType=VARCHAR},
                </if>
                <if test="userMail != null">
                    USER_MAIL = #{userMail,jdbcType=VARCHAR},
                </if>
                <if test="userSort != null">
                    USER_SORT = #{userSort,jdbcType=INTEGER},
                </if>
                <if test="userPhone != null">
                    USER_PHONE = #{userPhone,jdbcType=VARCHAR},
                </if>
                <if test="displayCount != null">
                    DISPLAY_COUNT = #{displayCount,jdbcType=INTEGER},
                </if>
                <if test="grpId != null">
                    GRP_ID = #{grpId,jdbcType=BIGINT},
                </if>
        </set>
        where   USER_ID = #{userId,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lzjtugrp2.domain.SecurityUser">
        update CRM_SECURITY_USER
        set 
            USER_NAME =  #{userName,jdbcType=VARCHAR},
            USER_CODE =  #{userCode,jdbcType=VARCHAR},
            USER_PWD =  #{userPwd,jdbcType=VARCHAR},
            USER_SEX =  #{userSex,jdbcType=INTEGER},
            USER_DESC =  #{userDesc,jdbcType=VARCHAR},
            USER_STATE =  #{userState,jdbcType=VARCHAR},
            USER_MAIL =  #{userMail,jdbcType=VARCHAR},
            USER_SORT =  #{userSort,jdbcType=INTEGER},
            USER_PHONE =  #{userPhone,jdbcType=VARCHAR},
            DISPLAY_COUNT =  #{displayCount,jdbcType=INTEGER},
            GRP_ID =  #{grpId,jdbcType=BIGINT}
        where   USER_ID = #{userId,jdbcType=BIGINT} 
    </update>
</mapper>
