<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzjtugrp2.mapper.SecurityGroupMapper">

    <resultMap id="BaseResultMap" type="com.lzjtugrp2.domain.SecurityGroup">
            <id property="grpId" column="GRP_ID" jdbcType="BIGINT"/>
            <result property="grpCode" column="GRP_CODE" jdbcType="VARCHAR"/>
            <result property="grpName" column="GRP_NAME" jdbcType="VARCHAR"/>
            <result property="grpPid" column="GRP_PID" jdbcType="BIGINT"/>
            <result property="grpDesc" column="GRP_DESC" jdbcType="VARCHAR"/>
            <result property="grpState" column="GRP_STATE" jdbcType="INTEGER"/>
            <result property="grpSort" column="GRP_SORT" jdbcType="INTEGER"/>
            <result property="grpType" column="GRP_TYPE" jdbcType="VARCHAR"/>
            <result property="grpRank" column="GRP_RANK" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        GRP_ID,GRP_CODE,GRP_NAME,
        GRP_PID,GRP_DESC,GRP_STATE,
        GRP_SORT,GRP_TYPE,GRP_RANK
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from crm_security_group
        where  GRP_ID = #{grpId,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from crm_security_group
        where  GRP_ID = #{grpId,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="GRP_ID" keyProperty="grpId" parameterType="com.lzjtugrp2.domain.SecurityGroup" useGeneratedKeys="true">
        insert into crm_security_group
        ( GRP_ID,GRP_CODE,GRP_NAME
        ,GRP_PID,GRP_DESC,GRP_STATE
        ,GRP_SORT,GRP_TYPE,GRP_RANK
        )
        values (#{grpId,jdbcType=BIGINT},#{grpCode,jdbcType=VARCHAR},#{grpName,jdbcType=VARCHAR}
        ,#{grpPid,jdbcType=BIGINT},#{grpDesc,jdbcType=VARCHAR},#{grpState,jdbcType=INTEGER}
        ,#{grpSort,jdbcType=INTEGER},#{grpType,jdbcType=VARCHAR},#{grpRank,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="GRP_ID" keyProperty="grpId" parameterType="com.lzjtugrp2.domain.SecurityGroup" useGeneratedKeys="true">
        insert into crm_security_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="grpId != null">GRP_ID,</if>
                <if test="grpCode != null">GRP_CODE,</if>
                <if test="grpName != null">GRP_NAME,</if>
                <if test="grpPid != null">GRP_PID,</if>
                <if test="grpDesc != null">GRP_DESC,</if>
                <if test="grpState != null">GRP_STATE,</if>
                <if test="grpSort != null">GRP_SORT,</if>
                <if test="grpType != null">GRP_TYPE,</if>
                <if test="grpRank != null">GRP_RANK,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="grpId != null">#{grpId,jdbcType=BIGINT},</if>
                <if test="grpCode != null">#{grpCode,jdbcType=VARCHAR},</if>
                <if test="grpName != null">#{grpName,jdbcType=VARCHAR},</if>
                <if test="grpPid != null">#{grpPid,jdbcType=BIGINT},</if>
                <if test="grpDesc != null">#{grpDesc,jdbcType=VARCHAR},</if>
                <if test="grpState != null">#{grpState,jdbcType=INTEGER},</if>
                <if test="grpSort != null">#{grpSort,jdbcType=INTEGER},</if>
                <if test="grpType != null">#{grpType,jdbcType=VARCHAR},</if>
                <if test="grpRank != null">#{grpRank,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lzjtugrp2.domain.SecurityGroup">
        update crm_security_group
        <set>
                <if test="grpCode != null">
                    GRP_CODE = #{grpCode,jdbcType=VARCHAR},
                </if>
                <if test="grpName != null">
                    GRP_NAME = #{grpName,jdbcType=VARCHAR},
                </if>
                <if test="grpPid != null">
                    GRP_PID = #{grpPid,jdbcType=BIGINT},
                </if>
                <if test="grpDesc != null">
                    GRP_DESC = #{grpDesc,jdbcType=VARCHAR},
                </if>
                <if test="grpState != null">
                    GRP_STATE = #{grpState,jdbcType=INTEGER},
                </if>
                <if test="grpSort != null">
                    GRP_SORT = #{grpSort,jdbcType=INTEGER},
                </if>
                <if test="grpType != null">
                    GRP_TYPE = #{grpType,jdbcType=VARCHAR},
                </if>
                <if test="grpRank != null">
                    GRP_RANK = #{grpRank,jdbcType=VARCHAR},
                </if>
        </set>
        where   GRP_ID = #{grpId,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lzjtugrp2.domain.SecurityGroup">
        update crm_security_group
        set 
            GRP_CODE =  #{grpCode,jdbcType=VARCHAR},
            GRP_NAME =  #{grpName,jdbcType=VARCHAR},
            GRP_PID =  #{grpPid,jdbcType=BIGINT},
            GRP_DESC =  #{grpDesc,jdbcType=VARCHAR},
            GRP_STATE =  #{grpState,jdbcType=INTEGER},
            GRP_SORT =  #{grpSort,jdbcType=INTEGER},
            GRP_TYPE =  #{grpType,jdbcType=VARCHAR},
            GRP_RANK =  #{grpRank,jdbcType=VARCHAR}
        where   GRP_ID = #{grpId,jdbcType=BIGINT} 
    </update>
</mapper>
