<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzjtuGrp2.mapper.SysLogMapper">

    <resultMap id="BaseResultMap" type="com.lzjtugrp2.domain.SysLog">
            <id property="sysId" column="SYS_ID" jdbcType="BIGINT"/>
            <result property="operTime" column="OPER_TIME" jdbcType="TIMESTAMP"/>
            <result property="ipAddtress" column="IP_ADDTRESS" jdbcType="VARCHAR"/>
            <result property="userId" column="USER_ID" jdbcType="BIGINT"/>
            <result property="userName" column="USER_NAME" jdbcType="VARCHAR"/>
            <result property="funcName" column="FUNC_NAME" jdbcType="VARCHAR"/>
            <result property="actionType" column="ACTION_TYPE" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        SYS_ID,OPER_TIME,IP_ADDTRESS,
        USER_ID,USER_NAME,FUNC_NAME,
        ACTION_TYPE
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from crm_sys_log
        where  SYS_ID = #{sysId,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from crm_sys_log
        where  SYS_ID = #{sysId,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="SYS_ID" keyProperty="sysId" parameterType="com.lzjtugrp2.domain.SysLog" useGeneratedKeys="true">
        insert into crm_sys_log
        ( SYS_ID,OPER_TIME,IP_ADDTRESS
        ,USER_ID,USER_NAME,FUNC_NAME
        ,ACTION_TYPE)
        values (#{sysId,jdbcType=BIGINT},#{operTime,jdbcType=TIMESTAMP},#{ipAddtress,jdbcType=VARCHAR}
        ,#{userId,jdbcType=BIGINT},#{userName,jdbcType=VARCHAR},#{funcName,jdbcType=VARCHAR}
        ,#{actionType,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="SYS_ID" keyProperty="sysId" parameterType="com.lzjtugrp2.domain.SysLog" useGeneratedKeys="true">
        insert into crm_sys_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="sysId != null">SYS_ID,</if>
                <if test="operTime != null">OPER_TIME,</if>
                <if test="ipAddtress != null">IP_ADDTRESS,</if>
                <if test="userId != null">USER_ID,</if>
                <if test="userName != null">USER_NAME,</if>
                <if test="funcName != null">FUNC_NAME,</if>
                <if test="actionType != null">ACTION_TYPE,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="sysId != null">#{sysId,jdbcType=BIGINT},</if>
                <if test="operTime != null">#{operTime,jdbcType=TIMESTAMP},</if>
                <if test="ipAddtress != null">#{ipAddtress,jdbcType=VARCHAR},</if>
                <if test="userId != null">#{userId,jdbcType=BIGINT},</if>
                <if test="userName != null">#{userName,jdbcType=VARCHAR},</if>
                <if test="funcName != null">#{funcName,jdbcType=VARCHAR},</if>
                <if test="actionType != null">#{actionType,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lzjtugrp2.domain.SysLog">
        update crm_sys_log
        <set>
                <if test="operTime != null">
                    OPER_TIME = #{operTime,jdbcType=TIMESTAMP},
                </if>
                <if test="ipAddtress != null">
                    IP_ADDTRESS = #{ipAddtress,jdbcType=VARCHAR},
                </if>
                <if test="userId != null">
                    USER_ID = #{userId,jdbcType=BIGINT},
                </if>
                <if test="userName != null">
                    USER_NAME = #{userName,jdbcType=VARCHAR},
                </if>
                <if test="funcName != null">
                    FUNC_NAME = #{funcName,jdbcType=VARCHAR},
                </if>
                <if test="actionType != null">
                    ACTION_TYPE = #{actionType,jdbcType=VARCHAR},
                </if>
        </set>
        where   SYS_ID = #{sysId,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lzjtugrp2.domain.SysLog">
        update crm_sys_log
        set 
            OPER_TIME =  #{operTime,jdbcType=TIMESTAMP},
            IP_ADDTRESS =  #{ipAddtress,jdbcType=VARCHAR},
            USER_ID =  #{userId,jdbcType=BIGINT},
            USER_NAME =  #{userName,jdbcType=VARCHAR},
            FUNC_NAME =  #{funcName,jdbcType=VARCHAR},
            ACTION_TYPE =  #{actionType,jdbcType=VARCHAR}
        where   SYS_ID = #{sysId,jdbcType=BIGINT} 
    </update>

    <select id="examineSysLogs" resultMap="BaseResultMap">
        select *
        from crm_sys_log
    </select>

    <select id="getSysLogsByMultipleConditions" resultMap="BaseResultMap">
        select *
        from crm_sys_log
        <where>
            <if test="startOperTime!=null"> OPER_TIME >= #{startOperTime,jdbctype=TIMESTAMP} </if>
            <if test="endOperTime!=null"> and OPER_TIME <= #{endOperTime,jdbcType=TIMESTAMP} </if>
            <if test="ipAddtress!=null"> and IP_ADDTRESS like #{ipAddtress,jdbcType=VARCHAR} </if>
            <if test="userId!=null"> and USER_ID like #{userId,jdbcType=BIGINT} </if>
            <if test="funcName!=null"> and FUNC_NAME like #{funcName,jdbcType=VARCHAR} </if>
            <if test="actionType!=null"> and ACTION_TYPE like #{actionType,jdbcType=VARCHAR}</if>
        </where>
    </select>
</mapper>
