<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzjtugrp2.mapper.TaskReviewMapper">

    <resultMap id="BaseResultMap" type="com.lzjtugrp2.domain.TaskReview">
            <id property="taskReviewId" column="TASK_REVIEW_ID" jdbcType="BIGINT"/>
            <result property="tcId" column="TC_ID" jdbcType="BIGINT"/>
            <result property="saleId" column="SALE_ID" jdbcType="CHAR"/>
            <result property="taskReviewState" column="TASK_REVIEW_STATE" jdbcType="VARCHAR"/>
            <result property="taskReviewDesc" column="TASK_REVIEW_DESC" jdbcType="VARCHAR"/>
            <result property="taskReviewVisitsTotal" column="TASK_REVIEW_VISITS_TOTAL" jdbcType="INTEGER"/>
            <result property="taskReviewStrange" column="TASK_REVIEW_STRANGE" jdbcType="INTEGER"/>
            <result property="taskReviewReturnvisit" column="TASK_REVIEW_RETURNVISIT" jdbcType="INTEGER"/>
            <result property="taskReviewNewIntencust" column="TASK_REVIEW_NEW_INTENCUST" jdbcType="INTEGER"/>
            <result property="taskReviewReturnvisitHist" column="TASK_REVIEW_RETURNVISIT_HIST" jdbcType="INTEGER"/>
            <result property="taskReviewLoss" column="TASK_REVIEW_LOSS" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        TASK_REVIEW_ID,TC_ID,SALE_ID,
        TASK_REVIEW_STATE,TASK_REVIEW_DESC,TASK_REVIEW_VISITS_TOTAL,
        TASK_REVIEW_STRANGE,TASK_REVIEW_RETURNVISIT,TASK_REVIEW_NEW_INTENCUST,
        TASK_REVIEW_RETURNVISIT_HIST,TASK_REVIEW_LOSS
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from crm_task_review
        where  TASK_REVIEW_ID = #{taskReviewId,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from crm_task_review
        where  TASK_REVIEW_ID = #{taskReviewId,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="TASK_REVIEW_ID" keyProperty="taskReviewId" parameterType="com.lzjtugrp2.domain.TaskReview" useGeneratedKeys="true">
        insert into crm_task_review
        ( TASK_REVIEW_ID,TC_ID,SALE_ID
        ,TASK_REVIEW_STATE,TASK_REVIEW_DESC,TASK_REVIEW_VISITS_TOTAL
        ,TASK_REVIEW_STRANGE,TASK_REVIEW_RETURNVISIT,TASK_REVIEW_NEW_INTENCUST
        ,TASK_REVIEW_RETURNVISIT_HIST,TASK_REVIEW_LOSS)
        values (#{taskReviewId,jdbcType=BIGINT},#{tcId,jdbcType=BIGINT},#{saleId,jdbcType=CHAR}
        ,#{taskReviewState,jdbcType=VARCHAR},#{taskReviewDesc,jdbcType=VARCHAR},#{taskReviewVisitsTotal,jdbcType=INTEGER}
        ,#{taskReviewStrange,jdbcType=INTEGER},#{taskReviewReturnvisit,jdbcType=INTEGER},#{taskReviewNewIntencust,jdbcType=INTEGER}
        ,#{taskReviewReturnvisitHist,jdbcType=INTEGER},#{taskReviewLoss,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" keyColumn="TASK_REVIEW_ID" keyProperty="taskReviewId" parameterType="com.lzjtugrp2.domain.TaskReview" useGeneratedKeys="true">
        insert into crm_task_review
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="taskReviewId != null">TASK_REVIEW_ID,</if>
                <if test="tcId != null">TC_ID,</if>
                <if test="saleId != null">SALE_ID,</if>
                <if test="taskReviewState != null">TASK_REVIEW_STATE,</if>
                <if test="taskReviewDesc != null">TASK_REVIEW_DESC,</if>
                <if test="taskReviewVisitsTotal != null">TASK_REVIEW_VISITS_TOTAL,</if>
                <if test="taskReviewStrange != null">TASK_REVIEW_STRANGE,</if>
                <if test="taskReviewReturnvisit != null">TASK_REVIEW_RETURNVISIT,</if>
                <if test="taskReviewNewIntencust != null">TASK_REVIEW_NEW_INTENCUST,</if>
                <if test="taskReviewReturnvisitHist != null">TASK_REVIEW_RETURNVISIT_HIST,</if>
                <if test="taskReviewLoss != null">TASK_REVIEW_LOSS,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="taskReviewId != null">#{taskReviewId,jdbcType=BIGINT},</if>
                <if test="tcId != null">#{tcId,jdbcType=BIGINT},</if>
                <if test="saleId != null">#{saleId,jdbcType=CHAR},</if>
                <if test="taskReviewState != null">#{taskReviewState,jdbcType=VARCHAR},</if>
                <if test="taskReviewDesc != null">#{taskReviewDesc,jdbcType=VARCHAR},</if>
                <if test="taskReviewVisitsTotal != null">#{taskReviewVisitsTotal,jdbcType=INTEGER},</if>
                <if test="taskReviewStrange != null">#{taskReviewStrange,jdbcType=INTEGER},</if>
                <if test="taskReviewReturnvisit != null">#{taskReviewReturnvisit,jdbcType=INTEGER},</if>
                <if test="taskReviewNewIntencust != null">#{taskReviewNewIntencust,jdbcType=INTEGER},</if>
                <if test="taskReviewReturnvisitHist != null">#{taskReviewReturnvisitHist,jdbcType=INTEGER},</if>
                <if test="taskReviewLoss != null">#{taskReviewLoss,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lzjtugrp2.domain.TaskReview">
        update crm_task_review
        <set>
                <if test="tcId != null">
                    TC_ID = #{tcId,jdbcType=BIGINT},
                </if>
                <if test="saleId != null">
                    SALE_ID = #{saleId,jdbcType=CHAR},
                </if>
                <if test="taskReviewState != null">
                    TASK_REVIEW_STATE = #{taskReviewState,jdbcType=VARCHAR},
                </if>
                <if test="taskReviewDesc != null">
                    TASK_REVIEW_DESC = #{taskReviewDesc,jdbcType=VARCHAR},
                </if>
                <if test="taskReviewVisitsTotal != null">
                    TASK_REVIEW_VISITS_TOTAL = #{taskReviewVisitsTotal,jdbcType=INTEGER},
                </if>
                <if test="taskReviewStrange != null">
                    TASK_REVIEW_STRANGE = #{taskReviewStrange,jdbcType=INTEGER},
                </if>
                <if test="taskReviewReturnvisit != null">
                    TASK_REVIEW_RETURNVISIT = #{taskReviewReturnvisit,jdbcType=INTEGER},
                </if>
                <if test="taskReviewNewIntencust != null">
                    TASK_REVIEW_NEW_INTENCUST = #{taskReviewNewIntencust,jdbcType=INTEGER},
                </if>
                <if test="taskReviewReturnvisitHist != null">
                    TASK_REVIEW_RETURNVISIT_HIST = #{taskReviewReturnvisitHist,jdbcType=INTEGER},
                </if>
                <if test="taskReviewLoss != null">
                    TASK_REVIEW_LOSS = #{taskReviewLoss,jdbcType=INTEGER},
                </if>
        </set>
        where   TASK_REVIEW_ID = #{taskReviewId,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lzjtugrp2.domain.TaskReview">
        update crm_task_review
        set 
            TC_ID =  #{tcId,jdbcType=BIGINT},
            SALE_ID =  #{saleId,jdbcType=CHAR},
            TASK_REVIEW_STATE =  #{taskReviewState,jdbcType=VARCHAR},
            TASK_REVIEW_DESC =  #{taskReviewDesc,jdbcType=VARCHAR},
            TASK_REVIEW_VISITS_TOTAL =  #{taskReviewVisitsTotal,jdbcType=INTEGER},
            TASK_REVIEW_STRANGE =  #{taskReviewStrange,jdbcType=INTEGER},
            TASK_REVIEW_RETURNVISIT =  #{taskReviewReturnvisit,jdbcType=INTEGER},
            TASK_REVIEW_NEW_INTENCUST =  #{taskReviewNewIntencust,jdbcType=INTEGER},
            TASK_REVIEW_RETURNVISIT_HIST =  #{taskReviewReturnvisitHist,jdbcType=INTEGER},
            TASK_REVIEW_LOSS =  #{taskReviewLoss,jdbcType=INTEGER}
        where   TASK_REVIEW_ID = #{taskReviewId,jdbcType=BIGINT} 
    </update>
</mapper>
