<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzjtugrp2.mapper.TaskCycleMapper">

    <resultMap id="BaseResultMap" type="com.lzjtugrp2.domain.TaskCycle">
            <id property="tcId" column="TC_ID" jdbcType="BIGINT"/>
            <result property="tcBegin" column="TC_BEGIN" jdbcType="TIMESTAMP"/>
            <result property="tcEnd" column="TC_END" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        TC_ID,TC_BEGIN,TC_END
    </sql>

    <select id="getAllTask" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from crm_task_cycle
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from crm_task_cycle
        where  TC_ID = #{tcId,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from crm_task_cycle
        where  TC_ID = #{tcId,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="TC_ID" keyProperty="tcId" parameterType="com.lzjtugrp2.domain.TaskCycle" useGeneratedKeys="true">
        insert into crm_task_cycle
        ( TC_ID,TC_BEGIN,TC_END
        )
        values (#{tcId,jdbcType=BIGINT},#{tcBegin,jdbcType=TIMESTAMP},#{tcEnd,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" keyColumn="TC_ID" keyProperty="tcId" parameterType="com.lzjtugrp2.domain.TaskCycle" useGeneratedKeys="true">
        insert into crm_task_cycle
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="tcId != null">TC_ID,</if>
                <if test="tcBegin != null">TC_BEGIN,</if>
                <if test="tcEnd != null">TC_END,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="tcId != null">#{tcId,jdbcType=BIGINT},</if>
                <if test="tcBegin != null">#{tcBegin,jdbcType=TIMESTAMP},</if>
                <if test="tcEnd != null">#{tcEnd,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lzjtugrp2.domain.TaskCycle">
        update crm_task_cycle
        <set>
                <if test="tcBegin != null">
                    TC_BEGIN = #{tcBegin,jdbcType=TIMESTAMP},
                </if>
                <if test="tcEnd != null">
                    TC_END = #{tcEnd,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   TC_ID = #{tcId,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lzjtugrp2.domain.TaskCycle">
        update crm_task_cycle
        set 
            TC_BEGIN =  #{tcBegin,jdbcType=TIMESTAMP},
            TC_END =  #{tcEnd,jdbcType=TIMESTAMP}
        where   TC_ID = #{tcId,jdbcType=BIGINT} 
    </update>
</mapper>
