<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增工作总结')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-mytaskreview-add">
            <h4 class="form-header h4">工作总结信息</h4>
            <div class="form-group">    
                <label class="col-sm-3 control-label">任务计划&总结(TASK_REVIEW) 关联：</label>
                <div class="col-sm-8">
                    <input name="taskReviewId" class="form-control" type="text">
                </div>
            </div>
            <h4 class="form-header h4">工作总结信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-white btn-sm" onclick="addRow()"><i class="fa fa-plus"> 增加</i></button>
                    <button type="button" class="btn btn-white btn-sm" onclick="sub.delRow()"><i class="fa fa-minus"> 删除</i></button>
                    <div class="col-sm-12 select-table table-striped">
                        <table id="bootstrap-table"></table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "crm/mytaskreview"
        var taskReviewStateDatas = [[${@dict.getType('crm_review')}]];
        $("#form-mytaskreview-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-mytaskreview-add').serialize());
            }
        }

        $(function() {
            var options = {
                pagination: false,
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                sidePagination: "client",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'index',
                    align: 'center',
                    title: "序号",
                    formatter: function (value, row, index) {
                    	var columnIndex = $.common.sprintf("<input type='hidden' name='index' value='%s'>", $.table.serialNumber(index));
                    	return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'tcId',
                    align: 'center',
                    title: '任务周期定义(TASK_CYCLE) 关联',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='taskReviewList[%s].tcId' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'saleId',
                    align: 'center',
                    title: '销售人员',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='taskReviewList[%s].saleId' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'taskReviewState',
                    align: 'center',
                    title: '总结状态',
                    formatter: function(value, row, index) {
                        var name = $.common.sprintf("taskReviewList[%s].taskReviewState", index);
                        return $.common.dictToSelect(taskReviewStateDatas, value, name);
                    }
                },
                {
                    field: 'taskReviewDesc',
                    align: 'center',
                    title: '总结说明',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='taskReviewList[%s].taskReviewDesc' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'taskReviewVisitsTotal',
                    align: 'center',
                    title: '拜访总数',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='taskReviewList[%s].taskReviewVisitsTotal' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'taskReviewStrange',
                    align: 'center',
                    title: '陌生拜访记录',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='taskReviewList[%s].taskReviewStrange' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'taskReviewReturnvisit',
                    align: 'center',
                    title: '回访拜访记录',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='taskReviewList[%s].taskReviewReturnvisit' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'taskReviewNewIntencust',
                    align: 'center',
                    title: '新增意向客户',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='taskReviewList[%s].taskReviewNewIntencust' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'taskReviewReturnvisitHist',
                    align: 'center',
                    title: '回访历史客户',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='taskReviewList[%s].taskReviewReturnvisitHist' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'taskReviewLoss',
                    align: 'center',
                    title: '流失客户',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='taskReviewList[%s].taskReviewLoss' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var value = $.common.isNotEmpty(row.index) ? row.index : $.table.serialNumber(index);
                        return '<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="sub.delRowByIndex(\'' + value + '\')"><i class="fa fa-remove"></i>删除</a>';
                    }
                }]
            };
            $.table.init(options);
        });

        function addRow() {
            var count = $("#" + table.options.id).bootstrapTable('getData').length;
            var row = {
                index: $.table.serialNumber(count),
                tcId: "",
                saleId: "",
                taskReviewState: "",
                taskReviewDesc: "",
                taskReviewVisitsTotal: "",
                taskReviewStrange: "",
                taskReviewReturnvisit: "",
                taskReviewNewIntencust: "",
                taskReviewReturnvisitHist: "",
                taskReviewLoss: "",
            }
            sub.addRow(row);
        }
    </script>
</body>
</html>