<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增客户信息')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: summernote-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-CustomerInfo-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">客户名称：</label>
                <div class="col-sm-8">
                    <input name="custName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">行业：</label>
                <div class="col-sm-8">
                    <input name="custIndustry" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">省份：</label>
                <div class="col-sm-8">
                    <select name="custProvince" id="province" class="form-control">
                        <option value="-1">请选择</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">城市：</label>
                <div class="col-sm-8">
                    <select id="city" name="custCity" class="form-control"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">地址：</label>
                <div class="col-sm-8">
                    <input name="custAddress" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">规模：</label>
                <div class="col-sm-8">
                    <select name="custScale" class="form-control m-b" th:with="type=${@dict.getType('sys_cust_size')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">性质：</label>
                <div class="col-sm-8">
                    <select name="custNature" class="form-control m-b" th:with="type=${@dict.getType('sys_cust_kind')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">简要介绍：</label>
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" name="custIntroduce">
                    <div class="summernote" id="custIntroduce"></div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <select name="custState" class="form-control m-b" th:with="type=${@dict.getType('sys_cust_state')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">创建人ID：</label>
                <div class="col-sm-8">
                    <input name="custCreateId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">创建时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="custCreateTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">提交人ID：</label>
                <div class="col-sm-8">
                    <input name="custSubmitId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">提交时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="custSubmitTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">确认人ID：</label>
                <div class="col-sm-8">
                    <input name="custConfirmId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">确认时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="custConfirmTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">进展状态：</label>
                <div class="col-sm-8">
                    <select name="custProgressState" class="form-control m-b" th:with="type=${@dict.getType('sys_cust_mind')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">级别：</label>
                <div class="col-sm-8">
                    <select name="custLevel" class="form-control m-b" th:with="type=${@dict.getType('sys_cust_level')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">公司网站：</label>
                <div class="col-sm-8">
                    <input name="custCompanyWeb" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">潜在客户ID：</label>
                <div class="col-sm-8">
                    <input name="orgId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">计划拜访时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="custVisitAgainTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: summernote-js" />
    <script th:inline="javascript">
        var prefix = ctx + "crm/CustomerInfo"
        $("#form-CustomerInfo-add").validate({
            focusCleanup: true
        });

        var provinceArr = ['上海','江苏','河北'];
        var cityArr = [
            ['上海市'],
            ['苏州市','南京市','扬州市'],
            ['石家庄','秦皇岛','张家口']
        ];

        function createOption(obj, data){
            for(var i in data){
                var op = new Option(data[i], i);
                obj.options.add(op);
            }
        }
        var province = document.getElementById('province');
        createOption(province,provinceArr);

        //城市下拉菜单
        var city = document.getElementById('city');
        province.onchange = function() {
            city.options.length = 0;
            createOption(city,cityArr[province.value]);
        };

        //修改省份province的onchange事件
        province.onchange = function() {
            city.options.length = 0;
            createOption(city, cityArr[province.value]);
            if (province.value >= 0) {
                city.onchange();		//自动添加城市对应区域下拉菜单
            } else {
                country.options.length = 0;		//清空country下的原有option
            }
        };



        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-CustomerInfo-add').serialize());
            }
        }

        $("input[name='custCreateTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        }).change(function (){
            let startDate = $("input[name='custCreateTime']").val();
            let endDate = $("input[name='custSubmitTime']").val(null);
            if(endDate != null){
                if(startDate >= endDate){
                    $("input[name='custCreateTime']").val(null);
                    alert("提交时间应大于创建时间");}
            }
        });



        // $("input[name='custSubmitTime']").datetimepicker({
        //     format: "yyyy-mm-dd",
        //     minView: "month",
        //     autoclose: true
        // }).change(function (){
        //     let startDate = $("input[name='custSubmitTime']").val();
        //     let endDate = $("input[name='custConfirmTime']").val(null);
        //     if(endDate != null){
        //         if(startDate >= endDate){
        //             $("input[name='custSubmitTime']").val(null);
        //             alert("结束时间应大于开始时间");}
        //     }
        // });

        $("input[name='custSubmitTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        }).change(function (){
            let startDate = $("input[name='custCreateTime']").val();
            let endDate = $("input[name='custSubmitTime']").val();
            if(startDate >= endDate){
                $("input[name='custSubmitTime']").val(null);
                alert("提交时间应大于创建时间");}
        });



        // $("input[name='custConfirmTime']").datetimepicker({
        //     format: "yyyy-mm-dd",
        //     minView: "month",
        //     autoclose: true
        // }).change(function (){
        //     let startDate = $("input[name='custConfirmTime']").val();
        //     let endDate = $("input[name='custVisitAgainTime']").val(null);
        //     if(endDate != null){
        //         if(startDate >= endDate){
        //             $("input[name='custConfirmTime']").val(null);
        //             alert("结束时间应大于开始时间");}
        //     }
        // });

        $("input[name='custConfirmTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        }).change(function (){
            let startDate = $("input[name='custSubmitTime']").val();
            let endDate = $("input[name='custConfirmTime']").val();
            if(startDate >= endDate){
                $("input[name='custConfirmTime']").val(null);
                alert("确认时间应大于提交时间");}
        });

        $("input[name='custVisitAgainTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        }).change(function (){
            let startDate = $("input[name='custConfirmTime']").val();
            let endDate = $("input[name='custVisitAgainTime']").val();
            if(startDate >= endDate){
                $("input[name='custVisitAgainTime']").val(null);
                alert("确认时间应大于提交时间");}
        });


        $(function() {
            $('.summernote').summernote({
                lang: 'zh-CN',
                dialogsInBody: true,
                callbacks: {
                    onChange: function(contents, $edittable) {
                        $("input[name='" + this.id + "']").val(contents);
                    },
                    onImageUpload: function(files) {
                        var obj = this;
                    	var data = new FormData();
                    	data.append("file", files[0]);
                    	$.ajax({
                            type: "post",
                            url: ctx + "common/upload",
                    		data: data,
                    		cache: false,
                    		contentType: false,
                    		processData: false,
                    		dataType: 'json',
                    		success: function(result) {
                    		    if (result.code == web_status.SUCCESS) {
                    		        $('#' + obj.id).summernote('insertImage', result.url);
                    		    } else {
                    		        $.modal.alertError(result.msg);
                    		    }
                    		},
                    		error: function(error) {
                    		    $.modal.alertWarning("图片上传失败。");
                    		}
                    	});
                    }
                }
            });
        });
    </script>
</body>
</html>