<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增客户信息')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-customerinfo-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">客户名称：</label>
                <div class="col-sm-8">
                    <input name="custName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">行业：</label>
                <div class="col-sm-8">
                    <input name="custIndustry" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">省份：</label>
                <div class="col-sm-8">
                    <select name="custProvince" id="province" class="form-control">
                        <option value="-1">请选择</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">城市：</label>
                <div class="col-sm-8">
                    <select id="city" name="custCity" class="form-control"></select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">地址：</label>
                <div class="col-sm-8">
                    <input name="custAddress" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">规模：</label>
                <div class="col-sm-8">
                    <input name="custScale" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">性质：</label>
                <div class="col-sm-8">
                    <input name="custNature" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">简要介绍：</label>
                <div class="col-sm-8">
                    <textarea name="custIntroduce" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">创建人：</label>
                <div class="col-sm-8">
                    <input name="custCreateId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">创建时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="custCreateTime" class="form-control" placeholder="yyyy-MM-dd" type="text" required="required">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">提交人：</label>
                <div class="col-sm-8">
                    <input name="custSubmitId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">提交时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="custSubmitTime" class="form-control" placeholder="yyyy-MM-dd" type="text" required="required">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">确认人：</label>
                <div class="col-sm-8">
                    <input name="custConfirmId" class="form-control" type="text" required="required">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">确认时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="custConfirmTime" class="form-control" placeholder="yyyy-MM-dd" type="text" required="required">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">进展状态：</label>
                <div class="col-sm-8">
                    <input name="custProgressState" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">公司网站：</label>
                <div class="col-sm-8">
                    <input name="custCompanyWeb" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">潜在客户：</label>
                <div class="col-sm-8">
                    <input name="orgId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">计划拜访时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="custVisitAgainTime" class="form-control" placeholder="yyyy-MM-dd" type="text" required="required">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var provinceArr = ['上海','江苏','河北'];
        var cityArr = [
            ['上海市'],
            ['苏州市','南京市','扬州市'],
            ['石家庄','秦皇岛','张家口']
        ];

        function createOption(obj, data){
            for(var i in data){
                var op = new Option(data[i], i);
                obj.options.add(op);
            }
        }
        var province = document.getElementById('province');
        createOption(province,provinceArr);

        //城市下拉菜单
        var city = document.getElementById('city');
        province.onchange = function() {
            city.options.length = 0;
            createOption(city,cityArr[province.value]);
        };


        var prefix = ctx + "crm/customerinfo"
        $("#form-customerinfo-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-customerinfo-add').serialize());
            }
        }

        $("input[name='custCreateTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='custSubmitTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='custConfirmTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='custVisitAgainTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>